<!DOCTYPE html>
<html lang="en">

<head>

    <!-- metas -->
    <meta charset="utf-8">
    <meta name="author" content="Chitrakoot Web" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="keywords" content="Septosha Hotel Booking Bootstrap Template" />
    <meta name="description" content="Fivestar - Hotel Booking Bootstrap Template" />

    <!-- title  -->
    <title>Fivestar - Hotel Booking Bootstrap Template</title>

    <!-- favicon -->
    <link rel="shortcut icon" href="img/logos/favicon.png" />
    <link rel="apple-touch-icon" href="img/logos/apple-touch-icon-57x57.png" />
    <link rel="apple-touch-icon" sizes="72x72" href="img/logos/apple-touch-icon-72x72.png" />
    <link rel="apple-touch-icon" sizes="114x114" href="img/logos/apple-touch-icon-114x114.png" />

    <!-- plugins -->
    <link rel="stylesheet" href="css/plugins.css" />

    <!-- search css -->
    <link rel="stylesheet" href="search/search.css" />

    <!-- core style css -->
    <link href="css/styles.css" rel="stylesheet" />

</head>

<body>

    <!-- start page loading -->
    <div id="preloader">
        <div class="row loader">
            <div class="loader-icon"></div>
        </div>
    </div>
    <!-- end page loading -->

    <!-- start main-wrapper section -->
    <div class="main-wrapper">

        <!-- start 404 page section -->
        <section class="full-screen text-center cover-background bg-img no-padding" data-overlay-dark="7" data-background="img/content/bg-single-page.jpg">
            <div class="container d-flex flex-column">

                <div class="row align-items-center justify-content-center min-vh-100">

                    <div class="col-md-12">

                        <div class="row margin-50px-bottom sm-margin-35px-bottom">
                            <div class="col-12">
                                <img src="img/logos/logo-white.png" alt="" />
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-12">
                                <p class="font-size130 alt-font font-weight-700 text-white">404</p>
                                <h2 class="text-white font-size40 xs-font-size22 margin-30px-bottom">Page not found</h2>
                                <a href="demo-1.html" class="butn margin-10px-right margin-10px-bottom">Back to Home</a>
                                <a href="contact-us.html" class="butn margin-10px-bottom">Contact Us</a>
                            </div>
                        </div>

                        <div class="row margin-35px-top sm-margin-20px-top">
                            <div class="col-12 text-white">
                                &copy; 2020 Fivestar <a href="#!" class="text-white">Privacy Policy</a>
                            </div>
                        </div>

                    </div>

                </div>

            </div>
        </section>
        <!-- end 404 page section -->

    </div>
    <!-- end main-wrapper section -->

    <!-- start scroll to top -->
    <a href="javascript:void(0)" class="scroll-to-top"><i class="fas fa-angle-up" aria-hidden="true"></i></a>
    <!-- end scroll to top -->

    <!-- all js include start -->

    <!-- Java script -->
    <script src="js/core.min.js"></script>
	
	<!-- Serch -->
    <script src="search/search.js"></script>
	
    <!-- custom scripts -->
    <script src="js/main.js"></script>

    <!-- all js include end -->

</body>

</html>