<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title> Travel - Explore </title>
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <!-- Bootstrap CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="https://unpkg.com/aos@2.3.0/dist/aos.css" rel="stylesheet">
    

     <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400&family=Kaushan+Script&family=Nothing+You+Could+Do&family=Open+Sans:wght@300;400;500;600&family=PT+Sans+Narrow:wght@700&family=Red+Hat+Display:wght@400;500;600;700;800;900&display=swap" rel="stylesheet">

    <link href="css/all.min.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    
    <link rel="stylesheet" href="css/owl.carousel.min.css" />
    <link rel="stylesheet" href="css/owl.theme.default.min.css"/>
    <link rel="stylesheet" type="text/css" href="css/jquery.fancybox.min.css">

    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/css/datepicker.css" rel="stylesheet" type="text/css" />

   
  </head>

<body>
  <header>
    <div class="main-menu-div float-start w-100">
      
      <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container">
          <a class="navbar-brand" href="index.html">
              <img src="images/logo.png" class="delf" alt="logo"/>
              <img src="images/logo-color.png" class="color-logo" alt="logo"/>
          </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" href="#mobilemenu"  aria-controls="offcanvasExample">
            <i class="fas fa-bars"></i>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mx-auto mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="explore.html">Explore</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="discover.html">Discover</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="tour-package.html">Tour Packgaes</a>
              </li>
              
              <li class="nav-item">
                <a class="nav-link" href="about.html">About</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="contact.html">Help & Visas</a>
              </li>
            </ul>
            
          </div>
  
          <div class="right-src ">
              <ul class="d-flex align-items-center list-unstyled mb-0">
                <li>
                  <a data-bs-toggle="modal" data-bs-target="#loginModal" class="lgn-btn"> 
                  <i class="far fa-user"></i>
                  </a>
                </li>
               
              </ul>
          </div>
        </div>
      </nav>
    </div>
  </header>
 <div class="banner-home float-start sub-page-banner">
     <div class="banner-slider-m">
         
      <img src="images/banner-t.jpg" class="d-block w-100" alt="...">

     </div>

     <div class="banner-content">
       <div class="container">
          <h1 class="text-center">
            Explore
          </h1>
        
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb justify-content-center">
              <li class="breadcrumb-item"><a href="index.html">Home</a></li>
              <li class="breadcrumb-item active" aria-current="page">Explore </li>
            </ol>
          </nav>

       </div>
     </div>

     
     

    
 </div>

<section class="body-part">
     <div class="tour-packages-pages">
        
        <div class="container">
            <h2 class="comon-head-m text-center"> Explore The Best Destinations </h2>
            
            <div class="comon-explores-divs1 mt-5">
                <div class="row align-items-center">
                    <div class="col-lg-4">
                        <figure>
                            <img src="images/sea.png" alt="pn"/>
                        </figure>
                    </div>
                    <div class="col-lg-8">
                        <div class="ex-test2">
                            <h3> Sea Food Explore </h3>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a 
                                galley of type and scrambled it to make a type specimen book.</p>
                            <div class="d-md-flex align-items-center justify-content-between mt-3">
                                <h5 class="ps-tm"> Popular Tips Near You</h5>
                                <div class="dt-div-list">
                                    <div class="d-flex align-items-center form-control">
                                        <i class="fas fa-map-marker-alt"></i><input class="in-dtat ms-2" list="datalistOptions" id="exampleDataList" placeholder="Goa">
                                    </div>
                                    
                                    <datalist id="datalistOptions">
                                    <option value="San Francisco">
                                    <option value="New York">
                                    <option value="Seattle">
                                    <option value="Los Angeles">
                                    <option value="Chicago">
                                    </datalist>
                                </div>
                            </div>

                            <div class="slider-nm mt-4">
                                <div class="comon-expl2 my-3">
                                    <div class="col-lg-8">
                                        <h6 class="location-nm"> <i class="fas fa-map-marker-alt"></i> Goa Lorem Ipsum </h6>
                                        <h5> Lorem Ipsum is simply dummy text of the printing</h5>
                                        <ul class="list-unstyled mt-0 mb-3 list-sort d-flex">
                                            <li> <i class="far fa-clock"></i>  2 Days / 3 Nights </li>
                                            <li class="mx-2 mx-lg-4"> <i class="fas fa-suitcase-rolling"></i> Adventure </li>
                                            <li> <i class="far fa-user"></i> 23+ Age </li>
                                        </ul>
                                    </div>
                                    <div class="col-lg-4">
                                        <h6 class="st-m1"> Starting From </h6>
                                        <h3> $205<span>/perperson</span></h3>
                                        <button class="btn book-btn1"> Book Now </button>
                                    </div>
                                </div>

                                <div class="comon-expl2 my-3">
                                    <div class="col-lg-8">
                                        <h6 class="location-nm"> <i class="fas fa-map-marker-alt"></i> France </h6>
                                        <h5> Lorem Ipsum is simply dummy text of the printing</h5>
                                        <ul class="list-unstyled mt-0 mb-3 list-sort d-flex">
                                            <li> <i class="far fa-clock"></i>  2 Days / 3 Nights </li>
                                            <li class="mx-2 mx-lg-4"> <i class="fas fa-suitcase-rolling"></i> Adventure </li>
                                            <li> <i class="far fa-user"></i> 23+ Age </li>
                                        </ul>
                                    </div>
                                    <div class="col-lg-4">
                                        <h6 class="st-m1"> Starting From </h6>
                                        <h3> $205<span>/perperson</span></h3>
                                        <button class="btn book-btn1"> Book Now </button>
                                    </div>
                                </div>

                                <div class="comon-expl2 my-3">
                                    <div class="col-lg-8">
                                        <h6 class="location-nm"> <i class="fas fa-map-marker-alt"></i> Maldivs </h6>
                                        <h5> Lorem Ipsum is simply dummy text of the printing</h5>
                                        <ul class="list-unstyled mt-0 mb-3 list-sort d-flex">
                                            <li> <i class="far fa-clock"></i>  2 Days / 3 Nights </li>
                                            <li class="mx-2 mx-lg-4"> <i class="fas fa-suitcase-rolling"></i> Adventure </li>
                                            <li> <i class="far fa-user"></i> 23+ Age </li>
                                        </ul>
                                    </div>
                                    <div class="col-lg-4">
                                        <h6 class="st-m1"> Starting From </h6>
                                        <h3> $205<span>/perperson</span></h3>
                                        <button class="btn book-btn1"> Book Now </button>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="explores-divb2 py-5 mt-5">
             <div class="container">
                <div class="comon-explores-divs1 mt-5">
                    <div class="row align-items-center flex-column-reverse flex-lg-row">
                        
                        <div class="col-lg-8">
                            <div class="ex-test2">
                                <h3> Jungle Safari Explore </h3>
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a 
                                    galley of type and scrambled it to make a type specimen book.</p>
                                <div class="d-md-flex align-items-center justify-content-between mt-3">
                                    <h5 class="ps-tm"> Popular Tips Near You</h5>
                                    <div class="dt-div-list">
                                        <div class="d-flex align-items-center form-control">
                                            <i class="fas fa-map-marker-alt"></i><input class="in-dtat ms-2" list="datalistOptions" id="exampleDataList" placeholder="Goa">
                                        </div>
                                        
                                        <datalist id="datalistOptions">
                                        <option value="San Francisco">
                                        <option value="New York">
                                        <option value="Seattle">
                                        <option value="Los Angeles">
                                        <option value="Chicago">
                                        </datalist>
                                    </div>
                                </div>
    
                                <div class="slider-nm mt-4">
                                    <div class="comon-expl2 my-3">
                                        <div class="col-lg-8">
                                            <h6 class="location-nm"> <i class="fas fa-map-marker-alt"></i> Goa Lorem Ipsum </h6>
                                            <h5> Lorem Ipsum is simply dummy text of the printing</h5>
                                            <ul class="list-unstyled mt-0 mb-3 list-sort d-flex">
                                                <li> <i class="far fa-clock"></i>  2 Days / 3 Nights </li>
                                                <li class="mx-2 mx-lg-4"> <i class="fas fa-suitcase-rolling"></i> Adventure </li>
                                                <li> <i class="far fa-user"></i> 23+ Age </li>
                                            </ul>
                                        </div>
                                        <div class="col-lg-4">
                                            <h6 class="st-m1"> Starting From </h6>
                                            <h3> $205<span>/perperson</span></h3>
                                            <button class="btn book-btn1"> Book Now </button>
                                        </div>
                                    </div>
    
                                    <div class="comon-expl2 my-3">
                                        <div class="col-lg-8">
                                            <h6 class="location-nm"> <i class="fas fa-map-marker-alt"></i> France </h6>
                                            <h5> Lorem Ipsum is simply dummy text of the printing</h5>
                                            <ul class="list-unstyled mt-0 mb-3 list-sort d-flex">
                                                <li> <i class="far fa-clock"></i>  2 Days / 3 Nights </li>
                                                <li class="mx-2 mx-lg-4"> <i class="fas fa-suitcase-rolling"></i> Adventure </li>
                                                <li> <i class="far fa-user"></i> 23+ Age </li>
                                            </ul>
                                        </div>
                                        <div class="col-lg-4">
                                            <h6 class="st-m1"> Starting From </h6>
                                            <h3> $205<span>/perperson</span></h3>
                                            <button class="btn book-btn1"> Book Now </button>
                                        </div>
                                    </div>
    
                                    <div class="comon-expl2 my-3">
                                        <div class="col-lg-8">
                                            <h6 class="location-nm"> <i class="fas fa-map-marker-alt"></i> Maldivs </h6>
                                            <h5> Lorem Ipsum is simply dummy text of the printing</h5>
                                            <ul class="list-unstyled mt-0 mb-3 list-sort d-flex">
                                                <li> <i class="far fa-clock"></i>  2 Days / 3 Nights </li>
                                                <li class="mx-2 mx-lg-4"> <i class="fas fa-suitcase-rolling"></i> Adventure </li>
                                                <li> <i class="far fa-user"></i> 23+ Age </li>
                                            </ul>
                                        </div>
                                        <div class="col-lg-4">
                                            <h6 class="st-m1"> Starting From </h6>
                                            <h3> $205<span>/perperson</span></h3>
                                            <button class="btn book-btn1"> Book Now </button>
                                        </div>
                                    </div>
    
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <figure>
                                <img src="images/safari.png" alt="pn"/>
                            </figure>
                        </div>
                    </div>
                </div>
             </div>
        </div>

        <div class="explore-white mt-5">
            <div class="container">
                <div class="comon-explores-divs1 mt-5">
                    <div class="row align-items-center">
                        <div class="col-lg-4">
                            <figure>
                                <img src="images/moutain.png" alt="pn"/>
                            </figure>
                        </div>
                        <div class="col-lg-8">
                            <div class="ex-test2">
                                <h3> Mountain Hills Explore </h3>
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a 
                                    galley of type and scrambled it to make a type specimen book.</p>
                                <div class="d-md-flex align-items-center justify-content-between mt-3">
                                    <h5 class="ps-tm"> Popular Tips Near You</h5>
                                    <div class="dt-div-list">
                                        <div class="d-flex align-items-center form-control">
                                            <i class="fas fa-map-marker-alt"></i><input class="in-dtat ms-2" list="datalistOptions" id="exampleDataList" placeholder="Goa">
                                        </div>
                                        
                                        <datalist id="datalistOptions">
                                        <option value="San Francisco">
                                        <option value="New York">
                                        <option value="Seattle">
                                        <option value="Los Angeles">
                                        <option value="Chicago">
                                        </datalist>
                                    </div>
                                </div>
    
                                <div class="slider-nm mt-4">
                                    <div class="comon-expl2 my-3">
                                        <div class="col-lg-8">
                                            <h6 class="location-nm"> <i class="fas fa-map-marker-alt"></i> Goa Lorem Ipsum </h6>
                                            <h5> Lorem Ipsum is simply dummy text of the printing</h5>
                                            <ul class="list-unstyled mt-0 mb-3 list-sort d-flex">
                                                <li> <i class="far fa-clock"></i>  2 Days / 3 Nights </li>
                                                <li class="mx-2 mx-lg-4"> <i class="fas fa-suitcase-rolling"></i> Adventure </li>
                                                <li> <i class="far fa-user"></i> 23+ Age </li>
                                            </ul>
                                        </div>
                                        <div class="col-lg-4">
                                            <h6 class="st-m1"> Starting From </h6>
                                            <h3> $205<span>/perperson</span></h3>
                                            <button class="btn book-btn1"> Book Now </button>
                                        </div>
                                    </div>
    
                                    <div class="comon-expl2 my-3">
                                        <div class="col-lg-8">
                                            <h6 class="location-nm"> <i class="fas fa-map-marker-alt"></i> France </h6>
                                            <h5> Lorem Ipsum is simply dummy text of the printing</h5>
                                            <ul class="list-unstyled mt-0 mb-3 list-sort d-flex">
                                                <li> <i class="far fa-clock"></i>  2 Days / 3 Nights </li>
                                                <li class="mx-2 mx-lg-4"> <i class="fas fa-suitcase-rolling"></i> Adventure </li>
                                                <li> <i class="far fa-user"></i> 23+ Age </li>
                                            </ul>
                                        </div>
                                        <div class="col-lg-4">
                                            <h6 class="st-m1"> Starting From </h6>
                                            <h3> $205<span>/perperson</span></h3>
                                            <button class="btn book-btn1"> Book Now </button>
                                        </div>
                                    </div>
    
                                    <div class="comon-expl2 my-3">
                                        <div class="col-lg-8">
                                            <h6 class="location-nm"> <i class="fas fa-map-marker-alt"></i> Maldivs </h6>
                                            <h5> Lorem Ipsum is simply dummy text of the printing</h5>
                                            <ul class="list-unstyled mt-0 mb-3 list-sort d-flex">
                                                <li> <i class="far fa-clock"></i>  2 Days / 3 Nights </li>
                                                <li class="mx-2 mx-lg-4"> <i class="fas fa-suitcase-rolling"></i> Adventure </li>
                                                <li> <i class="far fa-user"></i> 23+ Age </li>
                                            </ul>
                                        </div>
                                        <div class="col-lg-4">
                                            <h6 class="st-m1"> Starting From </h6>
                                            <h3> $205<span>/perperson</span></h3>
                                            <button class="btn book-btn1"> Book Now </button>
                                        </div>
                                    </div>
    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        

        <div class="subcribe-part pt-2 subpage-sub2">

           
          <div class="inside-nms">
               <div class="container">
                 <h1 class="text-center comon-head-m"> Get The Latest News </h1>

                 <div class="emil-sub col-lg-5 mx-auto d-flex align-items-center justify-content-center">
                     <input type="text" class="form-control" placeholder="Enter Your Email"/>
                     <button class="btn subucr"> <i class="fas fa-paper-plane"></i> </button>
                 </div>
               </div>
          </div>
        </div>


     </div>
</section>


 
<footer>
 
  
  
  <div class="footer-link-div float-start">
      <div class="container">
         <div class="row row-cols-1 row-cols-md-2  row-cols-lg-4">
            <div class="col">
               <div class="comon-footer-div pt-4">
                   <a href="#">
                      <img src="images/logo.png" alt="logo"/>
                   </a>
                   <p class="mt-2"> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
                 
                   <ul class="m-0 mt-2 list-unstyled d-flex">
                    <li>
                      <a href="#"> <i class="fab fa-facebook"></i> </a>
                    </li>
                    <li class="mx-3">
                     <a href="#"> <i class="fab fa-twitter"></i> </a>
                     
                    </li>
                    <li>
                     <a href="#"> <i class="fab fa-instagram"></i> </a>
                     
                    </li>
                  </ul>
               </div>
            </div>
            <div class="col">
              <div class="comon-footer-div pt-4 d-grid justify-content-md-center">
                  <h5 class="text-white">UseFull Links
                  </h5>
                  <ul class="list-unstyled mt-4">
                    <li>
                      <a href="#"> <i class="fas fa-angle-right"></i>  About </a>
                    </li>
                    <li>
                      <a href="#"> <i class="fas fa-angle-right"></i> Discover
                      </a>
                    </li>
                    <li>
                      <a href="#"> <i class="fas fa-angle-right"></i> Explore
                      </a>
                    </li>
                    
                   
                  </ul>
              </div>
            </div>
            <div class="col">
              <div class="comon-footer-div pt-4 justify-content-md-start  d-grid">
                  <h5 class="text-white">Support Links</h5>
                  <ul class="list-unstyled mt-4 no-code-div">
                    <li>
                      <a href="#"> <i class="fas fa-angle-right"></i> Help
                      </a>
                    </li>
                    <li>
                      <a href="#"> <i class="fas fa-angle-right"></i> Terms & Condition
                      </a>
                    </li>
                    <li>
                      <a href="#"> <i class="fas fa-angle-right"></i> Ask & Qusetion
                      </a>
                    </li>

                   
                 
                  </ul>
              </div>
            </div>

            <div class="col">
              <div class="comon-footer-div pt-4 d-grid justify-content-md-end">
                <h5 class="text-white">Contact
                </h5>
                  <ul class="contact-link list-unstyled mt-4">
                    <li> <i class="fas fa-map-marker-alt"></i> <span>1800 Washington Blvd, Suite #421
                   </span> </li>
                 
                    <li> <i class="fas fa-map-marker-alt"></i> <span> Baltimore, MD 21230 
                   </span> </li>
                   <li> <i class="fas fa-phone-alt"></i> <span> 410.277.9781
                   </span> </li>
                   <li><i class="fas fa-envelope"></i> <span>  contactus@archsystemsinc.com </span> </li>
                   

                  </ul>
                
                
              </div>
           </div>
           
         </div>
         <hr/>
          <div class="d-lg-flex justify-content-center">
            <p class="text-center text-white"> Copyright © 2022 Travel Agency. All Rights Reserved.</p>
            
          </div>
      </div>
      
  </div>
</footer>



<!-- mobile menu -->
<div class="offcanvas offcanvas-start mobile-menu-div" tabindex="-1" id="mobilemenu" aria-labelledby="offcanvasExampleLabel">
  <div class="offcanvas-header">
    <button type="button" class="close-menu" data-bs-dismiss="offcanvas" aria-label="Close">
      <span> Close </span> <i class="fas fa-long-arrow-alt-right"></i>
     </button>
  </div>
  <div class="offcanvas-body">
    
    <div class="head-contact">
      <a href="index.html" class="logo-side">
      <img src="images/logo-color.png" alt="logo">
      </a>
      
      <div class="mobile-menu-sec mt-3">
         <ul class="list-unstyled">
            <li>
               <a href="explore.html"> Explore </a>
            </li>
            <li>
               <a href="discover.html"> Discover </a>
            </li>
            
            <li>
               <a href="tour-package.html">  Tour Packages  </a>
            </li>
            <li>
               <a href="about.html"> About  </a>
            </li>
            <li>
             <a href="contact.html"> Help & Visas  </a>
            </li>
         </ul>
      </div>
      
      <ul class="side-media list-unstyled">
         <li> <a href="#"> <i class="fab fa-facebook-f"></i> </a> </li>
         <li> <a href="#"> <i class="fab fa-twitter"></i> </a> </li>
         <li> <a href="#"> <i class="fab fa-google-plus-g"></i> </a> </li>
         <li> <a href="#"> <i class="fab fa-instagram"></i> </a> </li>
      </ul>
   </div>
   
  </div>
</div>

<!-- login Modal -->
<div class="modal fade login-div-modal" id="loginModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        
      </div>
      <div class="modal-body">
         
        <div id="login-td-div" class="com-div-md">
          <span class="text-center d-table m-auto user-icon"> <i class="fas fa-user-circle"></i> </span>
          <h5 class="text-center mb-3"> Sign In </h5>
          <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
           <span aria-hidden="true">×</span>
         </button>
          <div class="login-modal-pn">
          
           <div class="cm-select-login mt-3">
             <div class="country-dp">
               
               <input type="email" class="form-control" placeholder="Username Or Email" alt="pn">
             </div>
             <div class="phone-div">
               
                <input type="password" class="form-control" placeholder="Password" alt="pn">
             </div>
             
          
           </div>
           
           
           
           <button class="btn continue-bn"> <i class="fas fa-lock"></i> SIGN IN </button>
         </div>

         <p class="text-center  mt-3">  
          <a data-bs-toggle="modal" class="regster-bn" data-bs-target="#lostpsModal" data-bs-dismiss="modal"> Lost Password ? </a>  </p>
          
          
           <p class="text-center  mt-3"> Do not have an account? 
             <a data-bs-toggle="modal" class="regster-bn" data-bs-target="#registerModal" data-bs-dismiss="modal"> Register </a>  </p>
        </div>

      
      </div>
      
    </div>
  </div>
</div>

<!-- register Modal -->

<div class="modal fade login-div-modal" id="registerModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        
      </div>
      <div class="modal-body">
        <div id="login-td-div" class="com-div-md">
          <span class="text-center d-table m-auto user-icon"> <i class="fas fa-user-circle"></i> </span>
          <h5 class="text-center mb-3"> Register </h5>
          <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
           <span aria-hidden="true">×</span>
         </button>
          <div class="login-modal-pn">
          
           <div class="cm-select-login mt-3">
             <div class="country-dp">
               
               <input type="text" class="form-control" placeholder="Full Name" alt="pn">
             </div>
             <div class="phone-div">
              
                <input type="email" class="form-control" placeholder="Email or Phone Number" alt="pn">
             </div>
             <div class="phone-div">
           
               <input type="password" class="form-control" placeholder="Create Password" alt="pn">
             </div>
             <div class="phone-div">
           
              <input type="password" class="form-control" placeholder="Confirm Password" alt="pn">
            </div>
             
            <div class="forget2 mt-3 ml-3 d-flex justify-content-between">
              <input type="checkbox" class="form-check-input" id="exampleCheck1">
                <label class="form-check-label" for="exampleCheck1"> By clicking Register, you agree to our
                  Terms of Use
                  and
                  Cookie Policy</label>
             </div>
          
           </div>
           
           
           
           <button class="btn continue-bn"> Register </button>
         </div>

           <p class="text-center  mt-3"> Do not have an account? 
             <a data-bs-toggle="modal" class="regster-bn" data-bs-target="#loginModal" data-bs-dismiss="modal"> Login </a>  </p>
        </div>
      </div>
     
    </div>
  </div>
</div>

<!-- lost password -->

<div class="modal fade login-div-modal" id="lostpsModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <!-- <h5 class="modal-title" id="exampleModalLabel">Register</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button> -->
      </div>
      <div class="modal-body">
        <div id="login-td-div" class="com-div-md">
          <span class="text-center d-table m-auto user-icon"> <i class="fas fa-user-circle"></i> </span>
          <h5 class="text-center mb-3"> Forget Your Password? </h5>
          <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
           <span aria-hidden="true">×</span>
         </button>
          <div class="login-modal-pn">
          <p> We'll email you a link to reset your password</p>
           <div class="cm-select-login mt-3">
             
             <div class="phone-div">
              
                <input type="email" class="form-control" placeholder="Enter Your Email " alt="pn">
             </div>
             
          
           </div>
           
           
           
           <button class="btn continue-bn"> Send Me a password reset Link </button>
         </div>

        </div>
      </div>
    
    </div>
  </div>
</div>


<!-- mobile menu -->
<div class="offcanvas offcanvas-start mobile-menu-div" tabindex="-1" id="mobilemenu" aria-labelledby="offcanvasExampleLabel">
  <div class="offcanvas-header">
    <button type="button" class="close-menu" data-bs-dismiss="offcanvas" aria-label="Close">
      <span> Close </span> <i class="fas fa-long-arrow-alt-right"></i>
     </button>
  </div>
  <div class="offcanvas-body">
    
    <div class="head-contact">
      <a href="index.html" class="logo-side">
      <img src="images/logo-color.png" alt="logo">
      </a>
      
      <div class="mobile-menu-sec mt-3">
         <ul class="list-unstyled">
            <li class="active-m">
               <a href="explore.html" > Explore </a>
            </li>
            <li>
               <a href="discover.html"> Discover </a>
            </li>
            
            <li>
               <a href="tour-package.html">  Tour Packages  </a>
            </li>
            <li>
               <a href="about.html"> About  </a>
            </li>
            <li>
             <a href="contact.html"> Help & Visas  </a>
            </li>
         </ul>
      </div>
      
      <ul class="side-media list-unstyled">
         <li> <a href="#"> <i class="fab fa-facebook-f"></i> </a> </li>
         <li> <a href="#"> <i class="fab fa-twitter"></i> </a> </li>
         <li> <a href="#"> <i class="fab fa-google-plus-g"></i> </a> </li>
         <li> <a href="#"> <i class="fab fa-instagram"></i> </a> </li>
      </ul>
   </div>
   
  </div>
</div>

<script src="js/bootstrap.bundle.min.js" ></script>
<script src="js/jquery.min.js" ></script>
<script src="js/jquery.fancybox.min.js"></script>
</script>
<!-- Owl Carousel -->
<script src="js/owl.carousel.min.js"></script>
<script src="js/custom.js"></script>
<script src="https://unpkg.com/aos@2.3.0/dist/aos.js"></script>
<script>
    AOS.init({
      offset: 100,
      easing: 'ease',
      delay: 0,
      once: true,
      duration: 800,
    
    });
    
</script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/js/bootstrap-datepicker.js"></script>



</body>
</html>
