<!DOCTYPE html>
<html lang="en">

<head>

    <!-- metas -->
    <meta charset="utf-8">
    <meta name="author" content="Chitrakoot Web" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="keywords" content="Tour and Travel Agency Template" />
    <meta name="description" content="Adventure - Tour and Travel Agency Template" />

    <!-- title  -->
    <title>Adventure - Tour and Travel Agency Template</title>

    <!-- favicon -->
    <link rel="shortcut icon" href="img/logos/favicon.png" />
    <link rel="apple-touch-icon" href="img/logos/apple-touch-icon-57x57.png" />
    <link rel="apple-touch-icon" sizes="72x72" href="img/logos/apple-touch-icon-72x72.png" />
    <link rel="apple-touch-icon" sizes="114x114" href="img/logos/apple-touch-icon-114x114.png" />

    <!-- plugins -->
    <link rel="stylesheet" href="css/plugins.css" />

    <!-- search css -->
    <link rel="stylesheet" href="search/search.css" />

    <!-- core style css -->
    <link href="css/styles.css" rel="stylesheet" />

</head>

<body>

    <!-- start page loading -->
    <div id="preloader">
        <div class="row loader">
            <div class="loader-icon"></div>
        </div>
    </div>
    <!-- end page loading -->

    <!-- start main-wrapper section -->
    <div class="main-wrapper">

        <!-- start 404 page section -->
        <section class="full-screen text-center cover-background bg-img no-padding" data-overlay-dark="5" data-background="img/content/404-bg.jpg">
            <div class="container d-flex flex-column">
                <div class="row align-items-center justify-content-center min-vh-100">
                    <div class="col-md-8">
                        <div class="row margin-eight-bottom xs-margin-six-bottom">
                            <div class="col-12">
                                <img src="img/logos/logo-white.png" alt=""  />
                            </div>
                        </div>
                        <div class="row page-container">
                            <div class="col-12">
                                <p class="font-size130 alt-font font-weight-700 title text-white">404</p>
                                <h2 class="text-white font-size40 xs-font-size22 margin-30px-bottom xs-margin-20px-bottom">Page not found</h2>
                                <a href="index.html" class="butn white margin-10px-right xs-margin-10px-bottom">Back to Home</a>
                                <a href="contact-us.html" class="butn white xs-margin-10px-bottom">Contact Us</a>
                            </div>
                        </div>
                        <div class="row margin-50px-top sm-margin-25px-top xs-margin-10px-top">
                            <div class="col-12 text-white">
                                &copy; 2020 Adventure <a href="#!" class="text-white">Privacy Policy</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- end 404 page section -->

    </div>
    <!-- end main-wrapper section -->

    <!-- BUY TEMPLATE
    ================================================== -->
    <div class="buy-theme alt-font d-none d-lg-inline-block"><a href="https://wrapbootstrap.com/theme/adventure-tour-and-travel-agency-template-WB0P8931T" target="_blank"><i class="fas fa-cart-plus"></i><span>Buy Template</span></a></div>

    <div class="all-demo alt-font d-none d-lg-inline-block"><a href="https://www.chitrakootweb.com/contact.html" target="_blank"><i class="far fa-envelope"></i><span>Quick Question?</span></a></div>

    <!-- start scroll to top -->
    <a href="javascript:void(0)" class="scroll-to-top"><i class="fas fa-angle-up" aria-hidden="true"></i></a>
    <!-- end scroll to top -->

    <!-- Java script -->
    <script src="js/core.min.js"></script>

    <!-- serch -->
    <script src="search/search.js"></script>
        
    <!-- custom scripts -->
    <script src="js/main.js"></script>

</body>

</html>