<!DOCTYPE html>
<html lang="en">

<head>

    <!-- metas -->
    <meta charset="utf-8">
    <meta name="author" content="Chitrakoot Web" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="keywords" content="Tour and Travel Agency Template" />
    <meta name="description" content="Adventure - Tour and Travel Agency Template" />

    <!-- title  -->
    <title>Adventure - Tour and Travel Agency Template</title>

    <!-- favicon -->
    <link rel="shortcut icon" href="img/logos/favicon.png" />
    <link rel="apple-touch-icon" href="img/logos/apple-touch-icon-57x57.png" />
    <link rel="apple-touch-icon" sizes="72x72" href="img/logos/apple-touch-icon-72x72.png" />
    <link rel="apple-touch-icon" sizes="114x114" href="img/logos/apple-touch-icon-114x114.png" />

    <!-- plugins -->
    <link rel="stylesheet" href="css/plugins.css" />

    <!-- search css -->
    <link rel="stylesheet" href="search/search.css" />

    <!-- core style css -->
    <link href="css/styles.css" rel="stylesheet" />

</head>

<body>

    <!-- start page loading -->
    <div id="preloader">
        <div class="row loader">
            <div class="loader-icon"></div>
        </div>
    </div>
    <!-- end page loading -->

    <!-- start main-wrapper section -->
    <div class="main-wrapper">

        <!-- start header section -->
        <header>

            <div class="navbar-default">

                <!-- start top search -->
                <div class="top-search bg-black">
                    <div class="container">
                        <form class="search-form" action="search.html" method="GET" accept-charset="utf-8">
                            <div class="input-group">
                                <span class="input-group-addon cursor-pointer">
                                    <button class="search-form_submit fas fa-search font-size18 text-white" type="submit"></button>
                                </span>
                                <input type="text" class="search-form_input form-control" name="s" autocomplete="off" placeholder="Type & hit enter...">
                                <span class="input-group-addon close-search"><i class="fas fa-times font-size18 line-height-28 margin-5px-top"></i></span>
                            </div>
                        </form>
                    </div>
                </div>
                <!-- end top search -->
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-12 col-lg-12">
                            <div class="menu_area alt-font">
                                <nav class="navbar navbar-expand-lg navbar-light no-padding">

                                    <div class="navbar-header navbar-header-custom">
                                        <!-- start logo -->
                                        <a href="index.html" class="navbar-brand logo4"><img id="logo" src="img/logos/logo.png" alt="logo" /></a>
                                        <!-- end logo -->
                                    </div>

                                    <div class="navbar-toggler"></div>

                                    <!-- start menu area -->
                                    <ul class="navbar-nav ml-auto" id="nav" style="display: none;">
                                        <li><a href="index.html">Home</a></li>
                                        <li><a href="javascript:void(0)">Pages</a>
                                            <ul>
                                                <li><a href="about-us.html">About Us</a></li>
                                                <li><a href="booking.html">Booking</a></li>
                                                <li><a href="elements.html">Elements</a></li>
                                                <li><a href="login.html">Login</a></li>
                                                <li><a href="registration.html">Register</a></li>
                                                <li><a href="javascript:void(0)">Other</a>
                                                    <ul>
                                                        <li><a href="faq.html">FAQ</a></li>
                                                        <li><a href="404-page.html">404 Page</a></li>
                                                        <li><a href="coming-soon.html">Coming Soon</a></li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </li>
                                        <li><a href="javascript:void(0)">Tour</a>
                                            <ul>
                                                <li><a href="tour-grid.html">Tour Grid</a></li>
                                                <li><a href="tour-listing.html">Tour List</a></li>
                                                <li><a href="tour-detail.html">Tour Details</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="javascript:void(0)">Portfolio</a>
                                            <ul>
                                                <li><a href="portfolio-1.html">Portfolio Simple</a></li>
                                                <li><a href="portfolio-2.html">Portfolio Masonry</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="javascript:void(0)">Blog</a>
                                            <ul>
                                                <li><a href="blog-grid.html">Blog Grid</a></li>
                                                <li><a href="blog-details.html">Blog Details</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="contact-us.html">Contact</a></li>
                                    </ul>
                                    <!-- end menu area -->

                                    <!-- start atribute navigation -->
                                    <div class="attr-nav sm-no-margin sm-margin-65px-right xs-margin-50px-right">
                                        <ul class="no-margin-top">
                                            <li class="search"><a href="#"><i class="fas fa-search"></i></a></li>
                                        </ul>
                                    </div>
                                    <!-- end atribute navigation -->

                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </header>
        <!-- end header section -->

        <!-- start page title section -->
        <section class="page-title-section bg-img cover-background" data-overlay-dark="6" data-background="img/banner/bg1.jpg">
            <div class="container">
                <h1 class="text-white font-weight-600">About Us</h1>
                <ul>
                    <li>
                        <a href="index.html">Home</a>
                    </li>
                    <li>
                        <span class="active">About Us</span>
                    </li>
                </ul>
            </div>
        </section>
        <!-- end page title section -->

        <!-- start about section -->
        <section>
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-md-6">
                        <div class="padding-60px-right sm-no-padding-right">
                            <h4 class="width-50 sm-width-100">Let us show you the world</h4>
                            <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English.</p>
                            <a href="#" class="text-theme-color"><span class="ti-angle-right font-size12"></span> See our services</a>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <img src="img/content/about1.jpg" alt="" />
                    </div>
                </div>
            </div>
        </section>
        <!-- end about section -->

        <!-- start testimonial section -->
        <section class="bg-light">
            <div class="container">
                <div class="text-center margin-40px-bottom">
                    <h3 class="margin-10px-bottom">Testimonial</h3>
                </div>
                <div class="owl-carousel owl-theme" id="testmonials-carousel">
                    <div class="center-col testimonial-style">
                        <div class="testimonial-item">
                            <div class="testimonial-review">
                                <p class="line-height-28 font-weight-500 font-size16 sm-font-size14 sm-line-height-24">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed.</p>
                            </div>
                            <div class="testimonial-left-col">

                                <div class="testimonial-pic">
                                    <div class="testimonial-separator"></div>
                                    <img src="img/testmonials/t-1.jpg" alt="" class="border-radius-4" /> </div>

                                <div class="client-info">
                                    <h6>Carl Linden</h6>
                                    <span>Customer</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="center-col testimonial-style">
                        <div class="testimonial-item">
                            <div class="testimonial-review">
                                <p class="line-height-28 font-weight-500 font-size16 sm-font-size14 sm-line-height-24">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable going to use a passage.</p>
                            </div>
                            <div class="testimonial-left-col">

                                <div class="testimonial-pic">
                                    <div class="testimonial-separator"></div>
                                    <img src="img/testmonials/t-2.jpg" alt="" class="border-radius-4" /> </div>

                                <div class="client-info">
                                    <h6>Jane Knight</h6>
                                    <span>Customer</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="center-col testimonial-style">
                        <div class="testimonial-item">
                            <div class="testimonial-review">
                                <p class="line-height-28 font-weight-500 font-size16 sm-font-size14 sm-line-height-24">It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum obscure Latin words, consectetur, from a Lorem.</p>
                            </div>
                            <div class="testimonial-left-col">

                                <div class="testimonial-pic">
                                    <div class="testimonial-separator"></div>
                                    <img src="img/testmonials/t-3.jpg" alt="" class="border-radius-4" /> </div>

                                <div class="client-info">
                                    <h6>Ron Baker</h6>
                                    <span>Customer</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- end testimonial section -->

        <!-- start our team section -->
        <section>
            <div class="container">
                <div class="text-center margin-40px-bottom">
                    <h3 class="margin-10px-bottom">Our Team</h3>
                </div>
                <div class="row">
                    <div class="col-lg-3 col-sm-6 sm-margin-30px-bottom">
                        <img src="img/team/1.jpg" alt="" />
                        <h5 class="no-margin-bottom margin-20px-top font-size20">Cherry Lady</h5>
                        <p class="no-margin-bottom">CEO</p>
                    </div>
                    <div class="col-lg-3 col-sm-6 sm-margin-30px-bottom">
                        <img src="img/team/2.jpg" alt="" />
                        <h5 class="no-margin-bottom margin-20px-top font-size20">Jame Bond</h5>
                        <p class="no-margin-bottom">Marketing Manager</p>
                    </div>
                    <div class="col-lg-3 col-sm-6 mobile-margin-30px-bottom">
                        <img src="img/team/3.jpg" alt="" />
                        <h5 class="no-margin-bottom margin-20px-top font-size20">John Doe</h5>
                        <p class="no-margin-bottom">Tour Expert</p>
                    </div>
                    <div class="col-lg-3 col-sm-6">
                        <img src="img/team/4.jpg" alt="" />
                        <h5 class="no-margin-bottom margin-20px-top font-size20">Christan Jonatan</h5>
                        <p class="no-margin-bottom">Customer Support</p>
                    </div>
                </div>
            </div>
        </section>
        <!-- end our team section -->

        <!-- start footer section -->
        <footer class="bg-img cover-background" data-background="img/content/footer-bg.jpg">
            <div class="footer-area padding-70px-tb md-padding-40px-tb xs-padding-30px-tb">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-5 col-sm-6 sm-margin-30px-bottom">
                            <img src="img/logos/logo.png" class="width-50" alt="" />
                            <div class="margin-30px-top">
                                <a href="#" class="margin-10px-right"><img src="img/content/pay-1.png" alt="" /></a>
                                <a href="#" class="margin-10px-right"><img src="img/content/pay-2.png" alt="" /></a>
                                <a href="#"><img src="img/content/pay-3.png" alt="" /></a>
                            </div>
                        </div>

                        <div class="col-lg-2 col-sm-6 sm-margin-30px-bottom">
                            <h3 class="footer-title-style1">Company</h3>
                            <ul class="list-style-1 no-margin-bottom">
                                <li><a href="#">Home</a></li>
                                <li><a href="#">About Us</a></li>
                                <li><a href="#">Dashboard</a></li>
                                <li><a href="#">Blog</a></li>
                                <li><a href="#">Contact Us</a></li>
                            </ul>
                        </div>
                        <div class="col-lg-2 col-sm-6 mobile-margin-30px-bottom">
                            <h3 class="footer-title-style1">Links</h3>
                            <ul class="list-style-1 no-margin-bottom">
                                <li><a href="#">Home</a></li>
                                <li><a href="#">About Us</a></li>
                                <li><a href="#">Dashboard</a></li>
                                <li><a href="#">Blog</a></li>
                                <li><a href="#">Contact Us</a></li>
                            </ul>
                        </div>
                        <div class="col-lg-3 col-sm-6">
                            <h3 class="footer-title-style1">Contact Us</h3>
                            <ul class="list-style-1 no-margin">
                                <li>
                                    <span class="d-inline-block vertical-align-top font-size18"><i class="ti-location-pin text-theme-color"></i></span>
                                    <span class="d-inline-block width-65 sm-width-85 vertical-align-top padding-10px-left">74 Guild Street 542B, Great North Town MT.</span>
                                </li>
                                <li>
                                    <span class="d-inline-block vertical-align-top font-size18"><i class="ti-mobile text-theme-color"></i></span>
                                    <span class="d-inline-block width-65 sm-width-85 vertical-align-top padding-10px-left">(+44) 123 456 789</span>
                                </li>
                                <li>
                                    <span class="d-inline-block vertical-align-top font-size18"><i class="ti-email text-theme-color"></i></span>
                                    <span class="d-inline-block width-65 sm-width-85 vertical-align-top padding-10px-left">example@yourname.com</span>
                                </li>
                            </ul>
                        </div>
                    </div>

                </div>
            </div>

            <div class="footer-bar xs-padding-15px-tb">
                <div class="container">
                    <div class="float-right xs-width-100 text-center xs-margin-5px-bottom">
                        <ul class="social-icon-style no-margin">
                            <li>
                                <a href="javascript:void(0)"><i class="fab fa-facebook-f"></i></a>
                            </li>
                            <li>
                                <a href="javascript:void(0)"><i class="fab fa-twitter"></i></a>
                            </li>
                            <li>
                                <a href="javascript:void(0)"><i class="fab fa-instagram"></i></a>
                            </li>
                            <li>
                                <a href="javascript:void(0)"><i class="fab fa-linkedin-in"></i></a>
                            </li>
                        </ul>
                    </div>
                    <div class="float-left xs-width-100 text-center">
                        <p class="font-weight-600 margin-5px-top xs-no-margin-top">&copy; 2020 Adventure is Powered by <a href="https://www.chitrakootweb.com/" target="_blank">Chitrakoot Web</a></p>
                    </div>
                </div>
            </div>
        </footer>
        <!-- end footer section -->

    </div>
    <!-- end main-wrapper section -->

    <!-- BUY TEMPLATE
    ================================================== -->
    <div class="buy-theme alt-font d-none d-lg-inline-block"><a href="https://wrapbootstrap.com/theme/adventure-tour-and-travel-agency-template-WB0P8931T" target="_blank"><i class="fas fa-cart-plus"></i><span>Buy Template</span></a></div>

    <div class="all-demo alt-font d-none d-lg-inline-block"><a href="https://www.chitrakootweb.com/contact.html" target="_blank"><i class="far fa-envelope"></i><span>Quick Question?</span></a></div>

    <!-- start scroll to top -->
    <a href="javascript:void(0)" class="scroll-to-top"><i class="fas fa-angle-up" aria-hidden="true"></i></a>
    <!-- end scroll to top -->

    <!-- Java script -->
    <script src="js/core.min.js"></script>

    <!-- serch -->
    <script src="search/search.js"></script>
        
    <!-- custom scripts -->
    <script src="js/main.js"></script>

</body>

</html>