<!DOCTYPE html>
<html lang="en">

<head>

    <!-- metas -->
    <meta charset="utf-8">
    <meta name="author" content="Chitrakoot Web" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="keywords" content="Tour and Travel Agency Template" />
    <meta name="description" content="Adventure - Tour and Travel Agency Template" />

    <!-- title  -->
    <title>Adventure - Tour and Travel Agency Template</title>

    <!-- favicon -->
    <link rel="shortcut icon" href="img/logos/favicon.png" />
    <link rel="apple-touch-icon" href="img/logos/apple-touch-icon-57x57.png" />
    <link rel="apple-touch-icon" sizes="72x72" href="img/logos/apple-touch-icon-72x72.png" />
    <link rel="apple-touch-icon" sizes="114x114" href="img/logos/apple-touch-icon-114x114.png" />

    <!-- plugins -->
    <link rel="stylesheet" href="css/plugins.css" />

    <!-- search css -->
    <link rel="stylesheet" href="search/search.css" />

    <!-- core style css -->
    <link href="css/styles.css" rel="stylesheet" />

</head>

<body>

    <!-- start page loading -->
    <div id="preloader">
        <div class="row loader">
            <div class="loader-icon"></div>
        </div>
    </div>
    <!-- end page loading -->

    <!-- start main-wrapper section -->
    <div class="main-wrapper">

        <!-- start header section -->
        <header>

            <div class="navbar-default">

                <!-- start top search -->
                <div class="top-search bg-black">
                    <div class="container">
                        <form class="search-form" action="search.html" method="GET" accept-charset="utf-8">
                            <div class="input-group">
                                <span class="input-group-addon cursor-pointer">
                                    <button class="search-form_submit fas fa-search font-size18 text-white" type="submit"></button>
                                </span>
                                <input type="text" class="search-form_input form-control" name="s" autocomplete="off" placeholder="Type & hit enter...">
                                <span class="input-group-addon close-search"><i class="fas fa-times font-size18 line-height-28 margin-5px-top"></i></span>
                            </div>
                        </form>
                    </div>
                </div>
                <!-- end top search -->
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-12 col-lg-12">
                            <div class="menu_area alt-font">
                                <nav class="navbar navbar-expand-lg navbar-light no-padding">

                                    <div class="navbar-header navbar-header-custom">
                                        <!-- start logo -->
                                        <a href="index.html" class="navbar-brand logo4"><img id="logo" src="img/logos/logo.png" alt="logo" /></a>
                                        <!-- end logo -->
                                    </div>

                                    <div class="navbar-toggler"></div>

                                    <!-- start menu area -->
                                    <ul class="navbar-nav ml-auto" id="nav" style="display: none;">
                                        <li><a href="index.html">Home</a></li>
                                        <li><a href="javascript:void(0)">Pages</a>
                                            <ul>
                                                <li><a href="about-us.html">About Us</a></li>
                                                <li><a href="booking.html">Booking</a></li>
                                                <li><a href="elements.html">Elements</a></li>
                                                <li><a href="login.html">Login</a></li>
                                                <li><a href="registration.html">Register</a></li>
                                                <li><a href="javascript:void(0)">Other</a>
                                                    <ul>
                                                        <li><a href="faq.html">FAQ</a></li>
                                                        <li><a href="404-page.html">404 Page</a></li>
                                                        <li><a href="coming-soon.html">Coming Soon</a></li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </li>
                                        <li><a href="javascript:void(0)">Tour</a>
                                            <ul>
                                                <li><a href="tour-grid.html">Tour Grid</a></li>
                                                <li><a href="tour-listing.html">Tour List</a></li>
                                                <li><a href="tour-detail.html">Tour Details</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="javascript:void(0)">Portfolio</a>
                                            <ul>
                                                <li><a href="portfolio-1.html">Portfolio Simple</a></li>
                                                <li><a href="portfolio-2.html">Portfolio Masonry</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="javascript:void(0)">Blog</a>
                                            <ul>
                                                <li><a href="blog-grid.html">Blog Grid</a></li>
                                                <li><a href="blog-details.html">Blog Details</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="contact-us.html">Contact</a></li>
                                    </ul>
                                    <!-- end menu area -->

                                    <!-- start atribute navigation -->
                                    <div class="attr-nav sm-no-margin sm-margin-65px-right xs-margin-50px-right">
                                        <ul class="no-margin-top">
                                            <li class="search"><a href="#"><i class="fas fa-search"></i></a></li>
                                        </ul>
                                    </div>
                                    <!-- end atribute navigation -->

                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </header>
        <!-- end header section -->

        <!-- start page title section -->
        <section class="page-title-section bg-img cover-background" data-overlay-dark="6" data-background="img/banner/bg1.jpg">
            <div class="container">
                <h1 class="text-white font-weight-600">Booking</h1>
                <ul>
                    <li>
                        <a href="index.html">Home</a>
                    </li>
                    <li>
                        <span class="active">Booking</span>
                    </li>
                </ul>
            </div>
        </section>
        <!-- end page title section -->

        <!-- start booking section -->
        <section>
            <div class="container">
                <div id="main-wrapper">

                    <div class="row">
                        <div class="col-md-12">
                            <div class="card card-white border-0">
                                <div class="card-body booking no-padding">

                                    <div id="rootwizard">
                                        <ul class="nav mb-4  nav-pills nav-fill" role="tablist">
                                            <li class="nav-item">
                                                <a class="nav-link active" id="home-pills-tab" data-toggle="tab" href="#home3" role="tab" aria-controls="home3" aria-selected="true"><span class="fas fa-user display-block margin-10px-bottom"></span> 1. Personal info</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" id="profile-pills-tab" data-toggle="tab" href="#profile3" role="tab" aria-controls="profile3" aria-selected="false"><span class="fas fa-dollar-sign display-block margin-10px-bottom"></span>2. Payment info</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" id="contact-pills-tab" data-toggle="tab" href="#finish3" role="tab" aria-controls="finish3" aria-selected="false"><span class="fas fa-check display-block margin-10px-bottom"></span>3. Confirmation</a>
                                            </li>

                                        </ul>
                                        <div class="progress progress-sm m-t-sm">
                                            <div class="progress-bar progress-bar-info progress-bar-striped active" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 0%">
                                            </div>
                                        </div>
                                        <form id="wizardForm">
                                            <div class="tab-content" id="myTabContent">
                                                <div class="tab-pane fade show active" id="home3" role="tabpanel">
                                                    <div class="row margin-40px-bottom">
                                                        <div class="col-md-12">
                                                            <div class="row">
                                                                <div class="form-group col-md-6">
                                                                    <label for="exampleInputName" class="margin-10px-bottom">First Name</label>
                                                                    <input type="text" class="form-control" name="exampleInputName" id="exampleInputName">
                                                                </div>
                                                                <div class="form-group col-md-6">
                                                                    <label for="exampleInputName2" class="margin-10px-bottom">Last Name</label>
                                                                    <input type="text" class="form-control" name="exampleInputName2" id="exampleInputName2">
                                                                </div>
                                                                <div class="form-group col-md-6">
                                                                    <label for="exampleInputEmail" class="margin-10px-bottom">Email address</label>
                                                                    <input type="text" class="form-control" name="exampleInputEmail" id="exampleInputEmail">
                                                                </div>
                                                                <div class="form-group col-md-6">
                                                                    <label for="exampleInputAddress" class="margin-10px-bottom">Address 2</label>
                                                                    <input type="text" class="form-control" name="exampleInputAddress" id="exampleInputAddress">
                                                                </div>
                                                                <div class="form-group col-md-6">
                                                                    <label for="exampleInputCity" class="margin-10px-bottom">City</label>
                                                                    <input type="text" class="form-control" name="exampleInputCity" id="exampleInputCity">
                                                                </div>
                                                                <div class="form-group col-md-6">
                                                                    <label for="exampleInputCode" class="margin-10px-bottom">Zip Code</label>
                                                                    <input type="text" class="form-control" name="exampleInputCode" id="exampleInputCode">
                                                                </div>
                                                                <div class="form-group col-md-6">
                                                                    <label for="exampleInputState" class="margin-10px-bottom">State/Region</label>
                                                                    <input type="text" class="form-control" name="exampleInputState" id="exampleInputState">
                                                                </div>
                                                                <div class="form-group col-md-6">
                                                                    <label for="exampleInputCountry" class="margin-10px-bottom">Country</label>
                                                                    <input type="text" class="form-control" name="exampleInputCountry" id="exampleInputCountry">
                                                                </div>
                                                                <div class="form-group col-md-12">
                                                                    <label for="exampleInputTextarea1" class="margin-10px-bottom">Requirements</label>
                                                                    <textarea class="form-control" id="exampleInputTextarea1" rows="5"></textarea>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="tab-pane fade" id="profile3" role="tabpanel">
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <div class="row">
                                                                <div class="form-group col-md-6">
                                                                    <label for="exampleInputName8" class="margin-10px-bottom">First Name</label>
                                                                    <input type="text" class="form-control" name="exampleInputName8" id="exampleInputName8">
                                                                </div>
                                                                <div class="form-group col-md-6">
                                                                    <label for="exampleInputName9" class="margin-10px-bottom">Last Name</label>
                                                                    <input type="text" class="form-control" name="exampleInputName9" id="exampleInputName9">
                                                                </div>
                                                                <div class="form-group col-md-6">
                                                                    <label for="exampleInputEmail1" class="margin-10px-bottom">Email address</label>
                                                                    <input type="text" class="form-control" name="exampleInputEmail1" id="exampleInputEmail1">
                                                                </div>
                                                                <div class="form-group col-md-6">
                                                                    <label for="exampleInputAddress1" class="margin-10px-bottom">Address 2</label>
                                                                    <input type="text" class="form-control" name="exampleInputAddress1" id="exampleInputAddress1">
                                                                </div>
                                                                <div class="form-group col-md-6">
                                                                    <label for="exampleInputCity1" class="margin-10px-bottom">City</label>
                                                                    <input type="text" class="form-control" name="exampleInputCity1" id="exampleInputCity1">
                                                                </div>
                                                                <div class="form-group col-md-6">
                                                                    <label for="exampleInputCode1" class="margin-10px-bottom">Zip Code</label>
                                                                    <input type="text" class="form-control" name="exampleInputCode1" id="exampleInputCode1">
                                                                </div>
                                                                <div class="form-group col-md-6">
                                                                    <label for="exampleInputState1" class="margin-10px-bottom">State/Region</label>
                                                                    <input type="text" class="form-control" name="exampleInputState1" id="exampleInputState1">
                                                                </div>
                                                                <div class="form-group col-md-6">
                                                                    <label for="exampleInputCountry1" class="margin-10px-bottom">Country</label>
                                                                    <input type="text" class="form-control" name="exampleInputCountry1" id="exampleInputCountry1">
                                                                </div>
                                                            </div>
                                                            <div class="margin-30px-top">
                                                                <h5>Card Info</h5>
                                                            </div>
                                                            <div class="row margin-40px-bottom">
                                                                <div class="form-group col-md-6">
                                                                    <label for="exampleInputCard1" class="margin-10px-bottom">Card Name</label>
                                                                    <input type="text" class="form-control" name="exampleInputCard1" id="exampleInputCard1">
                                                                </div>
                                                                <div class="form-group col-md-6">
                                                                    <label for="exampleInputCard2" class="margin-10px-bottom">Card Number</label>
                                                                    <input type="number" class="form-control" name="exampleInputCard2" id="exampleInputCard2">
                                                                </div>
                                                                <div class="form-group col-md-6">
                                                                    <label for="exampleInputName7" class="margin-10px-bottom">CVV</label>
                                                                    <input type="number" class="form-control" name="exampleInputName7" id="exampleInputName7">
                                                                </div>
                                                                <div class="form-group col-md-6">
                                                                    <p class="margin-10px-bottom">Pay With</p>
                                                                    <a href="#" class="margin-10px-right"><img src="img/content/pay-1.png" alt="" /></a>
                                                                    <a href="#" class="margin-10px-right"><img src="img/content/pay-2.png" alt="" /></a>
                                                                    <a href="#"><img src="img/content/pay-3.png" alt="" /></a>
                                                                </div>
                                                                <div class="form-group col-md-6">
                                                                    <label for="exampleInputName7" class="margin-10px-bottom">Expiration Date</label>
                                                                    <input type="text" class="form-control date no-margin-bottom" data-provide="datepicker" placeholder="Date">
                                                                </div>
                                                                <div class="form-group col-md-6">
                                                                    <label for="exampleInputPassword1" class="margin-10px-bottom">Password</label>
                                                                    <input type="password" class="form-control" name="exampleInputPassword1" id="exampleInputPassword1" placeholder="Password">
                                                                </div>
                                                            </div>

                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="tab-pane fade" id="finish3" role="tabpanel">
                                                    <h3 style="margin-top:25px;">Thank You!</h3>
                                                    <div class="alert alert-success m-t-sm m-b-lg" role="alert">
                                                        Thank you! Your booking is confirmed. Invoice Sent in your email address
                                                    </div>
                                                    <h5>Booking Details</h5>
                                                    <img src="img/content/booking-complete.jpg" alt="" class="rounded" />
                                                    <div class="padding-30px-top">
                                                        <h6>Booking Details</h6>
                                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
                                                        <div class="row margin-30px-top margin-40px-bottom">
                                                            <div class="col-md-4">
                                                                <ul class="list-style-1 no-margin">
                                                                    <li>
                                                                        <span class="d-inline-block font-size14 font-weight-600 text-extra-dark-gray"><i class="ti-calendar margin-10px-right"></i>From:</span>
                                                                        <span class="d-inline-block padding-10px-left">25 Mar, 2019</span>
                                                                    </li>
                                                                    <li>
                                                                        <span class="d-inline-block font-size14 font-weight-600 text-extra-dark-gray"><i class="ti-calendar margin-10px-right"></i>To:</span>
                                                                        <span class="d-inline-block padding-10px-left">30 Mar, 2019</span>
                                                                    </li>
                                                                    <li>
                                                                        <span class="d-inline-block font-size14 font-weight-600 text-extra-dark-gray"><i class="ti-user margin-10px-right"></i>Guests:</span>
                                                                        <span class="d-inline-block padding-10px-left">2 Adults, 1 Child</span>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                            <div class="col-md-4">
                                                                <ul class="list-style-1">
                                                                    <li>
                                                                        <span class="d-inline-block font-size14 font-weight-600 text-extra-dark-gray"><i class="ti-calendar margin-10px-right"></i>Address:</span>
                                                                        <span class="d-inline-block width-65 sm-width-85 vertical-align-top padding-10px-left">74 Guild Street 542B, Great North Town MT.</span>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                            <div class="col-md-4">
                                                                <h5 class="no-margin-bottom">Total: <span class="text-theme-color">$6,500</span></h5>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <ul class="pagination wizard">
                                                    <li class="previous"><a href="#" class="butn">Previous</a></li>
                                                    <li class="next ml-auto"><a href="#" class="butn">Next</a></li>
                                                </ul>
                                            </div>
                                        </form>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Row -->
                </div>
            </div>
        </section>
        <!-- end booking section -->

        <!-- start footer section -->
        <footer class="bg-img cover-background" data-background="img/content/footer-bg.jpg">
            <div class="footer-area padding-70px-tb md-padding-40px-tb xs-padding-30px-tb">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-5 col-sm-6 sm-margin-30px-bottom">
                            <img src="img/logos/logo.png" class="width-50" alt="" />
                            <div class="margin-30px-top">
                                <a href="#" class="margin-10px-right"><img src="img/content/pay-1.png" alt="" /></a>
                                <a href="#" class="margin-10px-right"><img src="img/content/pay-2.png" alt="" /></a>
                                <a href="#"><img src="img/content/pay-3.png" alt="" /></a>
                            </div>
                        </div>

                        <div class="col-lg-2 col-sm-6 sm-margin-30px-bottom">
                            <h3 class="footer-title-style1">Company</h3>
                            <ul class="list-style-1 no-margin-bottom">
                                <li><a href="#">Home</a></li>
                                <li><a href="#">About Us</a></li>
                                <li><a href="#">Dashboard</a></li>
                                <li><a href="#">Blog</a></li>
                                <li><a href="#">Contact Us</a></li>
                            </ul>
                        </div>
                        <div class="col-lg-2 col-sm-6 mobile-margin-30px-bottom">
                            <h3 class="footer-title-style1">Links</h3>
                            <ul class="list-style-1 no-margin-bottom">
                                <li><a href="#">Home</a></li>
                                <li><a href="#">About Us</a></li>
                                <li><a href="#">Dashboard</a></li>
                                <li><a href="#">Blog</a></li>
                                <li><a href="#">Contact Us</a></li>
                            </ul>
                        </div>
                        <div class="col-lg-3 col-sm-6">
                            <h3 class="footer-title-style1">Contact Us</h3>
                            <ul class="list-style-1 no-margin">
                                <li>
                                    <span class="d-inline-block vertical-align-top font-size18"><i class="ti-location-pin text-theme-color"></i></span>
                                    <span class="d-inline-block width-65 sm-width-85 vertical-align-top padding-10px-left">74 Guild Street 542B, Great North Town MT.</span>
                                </li>
                                <li>
                                    <span class="d-inline-block vertical-align-top font-size18"><i class="ti-mobile text-theme-color"></i></span>
                                    <span class="d-inline-block width-65 sm-width-85 vertical-align-top padding-10px-left">(+44) 123 456 789</span>
                                </li>
                                <li>
                                    <span class="d-inline-block vertical-align-top font-size18"><i class="ti-email text-theme-color"></i></span>
                                    <span class="d-inline-block width-65 sm-width-85 vertical-align-top padding-10px-left">example@yourname.com</span>
                                </li>
                            </ul>
                        </div>
                    </div>

                </div>
            </div>

            <div class="footer-bar xs-padding-15px-tb">
                <div class="container">
                    <div class="float-right xs-width-100 text-center xs-margin-5px-bottom">
                        <ul class="social-icon-style no-margin">
                            <li>
                                <a href="javascript:void(0)"><i class="fab fa-facebook-f"></i></a>
                            </li>
                            <li>
                                <a href="javascript:void(0)"><i class="fab fa-twitter"></i></a>
                            </li>
                            <li>
                                <a href="javascript:void(0)"><i class="fab fa-instagram"></i></a>
                            </li>
                            <li>
                                <a href="javascript:void(0)"><i class="fab fa-linkedin-in"></i></a>
                            </li>
                        </ul>
                    </div>
                    <div class="float-left xs-width-100 text-center">
                        <p class="font-weight-600 margin-5px-top xs-no-margin-top">&copy; 2020 Adventure is Powered by <a href="https://www.chitrakootweb.com/" target="_blank">Chitrakoot Web</a></p>
                    </div>
                </div>
            </div>
        </footer>
        <!-- end footer section -->

    </div>
    <!-- end main-wrapper section -->

    <!-- BUY TEMPLATE
    ================================================== -->
    <div class="buy-theme alt-font d-none d-lg-inline-block"><a href="https://wrapbootstrap.com/theme/adventure-tour-and-travel-agency-template-WB0P8931T" target="_blank"><i class="fas fa-cart-plus"></i><span>Buy Template</span></a></div>

    <div class="all-demo alt-font d-none d-lg-inline-block"><a href="https://www.chitrakootweb.com/contact.html" target="_blank"><i class="far fa-envelope"></i><span>Quick Question?</span></a></div>

    <!-- start scroll to top -->
    <a href="javascript:void(0)" class="scroll-to-top"><i class="fas fa-angle-up" aria-hidden="true"></i></a>
    <!-- end scroll to top -->

    <!-- all js include start -->

    <!-- Java script -->
    <script src="js/core.min.js"></script>

    <!-- serch -->
    <script src="search/search.js"></script>

    <!-- jquery validation -->
    <script src="js/jquery.validate.min.js"></script>

    <!-- jquery wizard -->
    <script src="js/jquery.bootstrap.wizard.min.js"></script>

    <!-- form-wizard -->
    <script src="js/form-wizard.js"></script>
        
    <!-- custom scripts -->
    <script src="js/main.js"></script>

    <!-- all js include end -->

</body>

</html>