<!DOCTYPE html>
<html lang="en">

<head>

    <!-- metas -->
    <meta charset="utf-8">
    <meta name="author" content="Chitrakoot Web" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="keywords" content="Tour and Travel Agency Template" />
    <meta name="description" content="Adventure - Tour and Travel Agency Template" />

    <!-- title  -->
    <title>Adventure - Tour and Travel Agency Template</title>

    <!-- favicon -->
    <link rel="shortcut icon" href="img/logos/favicon.png" />
    <link rel="apple-touch-icon" href="img/logos/apple-touch-icon-57x57.png" />
    <link rel="apple-touch-icon" sizes="72x72" href="img/logos/apple-touch-icon-72x72.png" />
    <link rel="apple-touch-icon" sizes="114x114" href="img/logos/apple-touch-icon-114x114.png" />

    <!-- plugins -->
    <link rel="stylesheet" href="css/plugins.css" />

    <!-- search css -->
    <link rel="stylesheet" href="search/search.css" />

    <!-- core style css -->
    <link href="css/styles.css" rel="stylesheet" />

</head>

<body>

    <!-- start page loading -->
    <div id="preloader">
        <div class="row loader">
            <div class="loader-icon"></div>
        </div>
    </div>
    <!-- end page loading -->

    <!-- start main-wrapper section -->
    <div class="main-wrapper">

        <!-- start comingsoon section -->
        <section class="full-screen text-center cover-background bg-img no-padding" data-overlay-dark="5" data-background="img/content/404-bg.jpg">
            <div class="container d-flex flex-column">
                <div class="row align-items-center justify-content-center min-vh-100 coming-soon">
                    <div class="col-md-8">
                        <div class="bg-black-opacity padding-40px-all sm-padding-25px-all rounded">
                            <div class="row">
                                <div class="col-md-12 text-center wow fadeInDown">
                                    <div class="coming-soon">
                                        <h5 class="alt-font text-white margin-40px-bottom xs-margin-25px-bottom">We're Launching Soon</h5>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 wow fadeInUp">
                                    <ul class="countdown text-center no-padding margin-20px-bottom xs-margin-15px-bottom">
                                        <!-- start days -->
                                        <li><span class="days">00</span>
                                            <p class="timeRefDays text-center">days</p>
                                        </li>
                                        <!-- end days -->
                                        <!-- start hours -->
                                        <li><span class="hours">00</span>
                                            <p class="timeRefHours">hours</p>
                                        </li>
                                        <!-- end hours -->
                                        <!-- start minutes -->
                                        <li><span class="minutes">00</span>
                                            <p class="timeRefMinutes">minutes</p>
                                        </li>
                                        <!-- end minutes -->
                                        <!-- start seconds -->
                                        <li><span class="seconds">00</span>
                                            <p class="timeRefSeconds">seconds</p>
                                        </li>
                                        <!-- end seconds -->
                                    </ul>
                                    <div class="padding-four-all xs-padding-20px-all text-center margin-30px-bottom xs-margin-20px-bottom center-col width-70 xs-width-90">
                                        <p class="font-size16 xs-font-size14 text-white width-95 center-col xs-width-100 xs-margin-15px-bottom">We'll be here soon with our new awesome site.</p>
                                        <a href="contact-us.html" class="butn">Send a Query</a>
                                    </div>
                                    <ul class="social-links text-center no-margin no-padding list-style-none">
                                        <li><a href="javascript:void(0);"><i class="fab fa-facebook-f"></i></a></li>
                                        <li><a href="javascript:void(0);"><i class="fab fa-twitter"></i></a></li>
                                        <li><a href="javascript:void(0);"><i class="fab fa-dribbble"></i></a></li>
                                        <li><a href="javascript:void(0);"><i class="fab fa-youtube"></i></a></li>
                                        <li><a href="javascript:void(0);"><i class="fab fa-linkedin-in"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- end comingsoon section -->

    </div>
    <!-- end main-wrapper section -->

    <!-- BUY TEMPLATE
    ================================================== -->
    <div class="buy-theme alt-font d-none d-lg-inline-block"><a href="https://wrapbootstrap.com/theme/adventure-tour-and-travel-agency-template-WB0P8931T" target="_blank"><i class="fas fa-cart-plus"></i><span>Buy Template</span></a></div>

    <div class="all-demo alt-font d-none d-lg-inline-block"><a href="https://www.chitrakootweb.com/contact.html" target="_blank"><i class="far fa-envelope"></i><span>Quick Question?</span></a></div>

    <!-- start scroll to top -->
    <a href="javascript:void(0)" class="scroll-to-top"><i class="fas fa-angle-up" aria-hidden="true"></i></a>
    <!-- end scroll to top -->

    <!-- Java script -->
    <script src="js/core.min.js"></script>

    <!-- serch -->
    <script src="search/search.js"></script>
        
    <!-- custom scripts -->
    <script src="js/main.js"></script>

</body>

</html>