<!DOCTYPE html>
<html lang="en">

<head>

    <!-- metas -->
    <meta charset="utf-8">
    <meta name="author" content="Chitrakoot Web" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="keywords" content="Tour and Travel Agency Template" />
    <meta name="description" content="Adventure - Tour and Travel Agency Template" />

    <!-- title  -->
    <title>Adventure - Tour and Travel Agency Template</title>

    <!-- favicon -->
    <link rel="shortcut icon" href="img/logos/favicon.png" />
    <link rel="apple-touch-icon" href="img/logos/apple-touch-icon-57x57.png" />
    <link rel="apple-touch-icon" sizes="72x72" href="img/logos/apple-touch-icon-72x72.png" />
    <link rel="apple-touch-icon" sizes="114x114" href="img/logos/apple-touch-icon-114x114.png" />

    <!-- plugins -->
    <link rel="stylesheet" href="css/plugins.css" />

    <!-- search css -->
    <link rel="stylesheet" href="search/search.css" />

    <!-- core style css -->
    <link href="css/styles.css" rel="stylesheet" />

</head>

<body>

    <!-- start page loading -->
    <div id="preloader">
        <div class="row loader">
            <div class="loader-icon"></div>
        </div>
    </div>
    <!-- end page loading -->

    <!-- start main-wrapper section -->
    <div class="main-wrapper">

        <!-- start header section -->
        <header>

            <div class="navbar-default">

                <!-- start top search -->
                <div class="top-search bg-black">
                    <div class="container">
                        <form class="search-form" action="search.html" method="GET" accept-charset="utf-8">
                            <div class="input-group">
                                <span class="input-group-addon cursor-pointer">
                                    <button class="search-form_submit fas fa-search font-size18 text-white" type="submit"></button>
                                </span>
                                <input type="text" class="search-form_input form-control" name="s" autocomplete="off" placeholder="Type & hit enter...">
                                <span class="input-group-addon close-search"><i class="fas fa-times font-size18 line-height-28 margin-5px-top"></i></span>
                            </div>
                        </form>
                    </div>
                </div>
                <!-- end top search -->
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-12 col-lg-12">
                            <div class="menu_area alt-font">
                                <nav class="navbar navbar-expand-lg navbar-light no-padding">

                                    <div class="navbar-header navbar-header-custom">
                                        <!-- start logo -->
                                        <a href="index.html" class="navbar-brand logo4"><img id="logo" src="img/logos/logo.png" alt="logo" /></a>
                                        <!-- end logo -->
                                    </div>

                                    <div class="navbar-toggler"></div>

                                    <!-- start menu area -->
                                    <ul class="navbar-nav ml-auto" id="nav" style="display: none;">
                                        <li><a href="index.html">Home</a></li>
                                        <li><a href="javascript:void(0)">Pages</a>
                                            <ul>
                                                <li><a href="about-us.html">About Us</a></li>
                                                <li><a href="booking.html">Booking</a></li>
                                                <li><a href="elements.html">Elements</a></li>
                                                <li><a href="login.html">Login</a></li>
                                                <li><a href="registration.html">Register</a></li>
                                                <li><a href="javascript:void(0)">Other</a>
                                                    <ul>
                                                        <li><a href="faq.html">FAQ</a></li>
                                                        <li><a href="404-page.html">404 Page</a></li>
                                                        <li><a href="coming-soon.html">Coming Soon</a></li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </li>
                                        <li><a href="javascript:void(0)">Tour</a>
                                            <ul>
                                                <li><a href="tour-grid.html">Tour Grid</a></li>
                                                <li><a href="tour-listing.html">Tour List</a></li>
                                                <li><a href="tour-detail.html">Tour Details</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="javascript:void(0)">Portfolio</a>
                                            <ul>
                                                <li><a href="portfolio-1.html">Portfolio Simple</a></li>
                                                <li><a href="portfolio-2.html">Portfolio Masonry</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="javascript:void(0)">Blog</a>
                                            <ul>
                                                <li><a href="blog-grid.html">Blog Grid</a></li>
                                                <li><a href="blog-details.html">Blog Details</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="contact-us.html">Contact</a></li>
                                    </ul>
                                    <!-- end menu area -->

                                    <!-- start atribute navigation -->
                                    <div class="attr-nav sm-no-margin sm-margin-65px-right xs-margin-50px-right">
                                        <ul class="no-margin-top">
                                            <li class="search"><a href="#"><i class="fas fa-search"></i></a></li>
                                        </ul>
                                    </div>
                                    <!-- end atribute navigation -->

                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </header>
        <!-- end header section -->

        <!-- start page title section -->
        <section class="page-title-section bg-img cover-background" data-overlay-dark="6" data-background="img/banner/bg1.jpg">
            <div class="container">
                <h1 class="text-whiter font-weight-600">Elements</h1>
                <ul>
                    <li>
                        <a href="index.html">Home</a>
                    </li>
                    <li>
                        <span class="active">Elements</span>
                    </li>
                </ul>
            </div>
        </section>
        <!-- end page title section -->

        <!-- start elements table -->
        <section>
            <div class="container">
                <div class="row">

                    <div class="col-md-3 xs-margin-40px-bottom">
                        <div class="summary border border-radius-4 slow-redirect">
                            <h5 class="padding-15px-all font-size22 text-white bg-theme no-margin-bottom">Summary</h5>
                            <ul class="summary-list no-margin-bottom">
                                <li><a href="#alerts">Alerts</a></li>
                                <li><a href="#button">Buttons</a></li>
                                <li><a href="#card">Card</a></li>
                                <li><a href="#social">Social Icons</a></li>
                                <li><a href="#form">Form</a></li>
                                <li><a href="#grid">Grid System</a></li>
                                <li><a href="#accordions">Accordions</a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-md-9">
                        <h4 id="alerts">Alerts</h4>
                        <div class="box-hover margin-30px-bottom padding-30px-bottom">
                            <div class="alert alert-primary alert-dismissible fade show" role="alert">
                                <strong>Holy guacamole!</strong> You should check in on some of those fields below.
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="alert alert-secondary alert-dismissible fade show" role="alert">
                                <strong>Holy guacamole!</strong> You should check in on some of those fields below.
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="alert alert-success alert-dismissible fade show" role="alert">
                                <strong>Holy guacamole!</strong> You should check in on some of those fields below.
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                                <strong>Holy guacamole!</strong> You should check in on some of those fields below.
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                                <strong>Holy guacamole!</strong> You should check in on some of those fields below.
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="alert alert-info alert-dismissible fade show" role="alert">
                                <strong>Holy guacamole!</strong> You should check in on some of those fields below.
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="alert alert-light alert-dismissible fade show" role="alert">
                                <strong>Holy guacamole!</strong> You should check in on some of those fields below.
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="alert alert-dark alert-dismissible fade show" role="alert">
                                <strong>Holy guacamole!</strong> You should check in on some of those fields below.
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>

                            <div class="copy-element"><a class="copy-clipboard" data-clipboard-target="#section">Copy</a></div>
                            <div class="source-element"><a class="source-modal" href="#copy-code">Source</a></div>

                            <div id="copy-code" class="mfp-hide white-popup-block popup-copy">
                                <div class="copy-element"><a class="copy-clipboard" data-clipboard-target="#section">copy</a></div>
                                <pre id="section"><code class="language-html">
&lt;div class="alert alert-primary alert-dismissible fade show" role="alert"&gt;
    &lt;strong&gt;Holy guacamole!&lt;/strong&gt; You should check in on some of those fields below.
    &lt;button type="button" class="close" data-dismiss="alert" aria-label="Close"&gt;
        &lt;span aria-hidden="true"&gt;&amp;times;&lt;/span&gt;
    &lt;/button&gt;
&lt;/div&gt;
&lt;div class="alert alert-secondary alert-dismissible fade show" role="alert"&gt;
    &lt;strong&gt;Holy guacamole!&lt;/strong&gt; You should check in on some of those fields below.
    &lt;button type="button" class="close" data-dismiss="alert" aria-label="Close"&gt;
        &lt;span aria-hidden="true"&gt;&amp;times;&lt;/span&gt;
    &lt;/button&gt;
&lt;/div&gt;
&lt;div class="alert alert-success alert-dismissible fade show" role="alert"&gt;
    &lt;strong&gt;Holy guacamole!&lt;/strong&gt; You should check in on some of those fields below.
    &lt;button type="button" class="close" data-dismiss="alert" aria-label="Close"&gt;
        &lt;span aria-hidden="true"&gt;&amp;times;&lt;/span&gt;
    &lt;/button&gt;
&lt;/div&gt;
&lt;div class="alert alert-danger alert-dismissible fade show" role="alert"&gt;
    &lt;strong&gt;Holy guacamole!&lt;/strong&gt; You should check in on some of those fields below.
    &lt;button type="button" class="close" data-dismiss="alert" aria-label="Close"&gt;
        &lt;span aria-hidden="true"&gt;&amp;times;&lt;/span&gt;
    &lt;/button&gt;
&lt;/div&gt;
&lt;div class="alert alert-warning alert-dismissible fade show" role="alert"&gt;
    &lt;strong&gt;Holy guacamole!&lt;/strong&gt; You should check in on some of those fields below.
    &lt;button type="button" class="close" data-dismiss="alert" aria-label="Close"&gt;
        &lt;span aria-hidden="true"&gt;&amp;times;&lt;/span&gt;
    &lt;/button&gt;
&lt;/div&gt;
&lt;div class="alert alert-info alert-dismissible fade show" role="alert"&gt;
    &lt;strong&gt;Holy guacamole!&lt;/strong&gt; You should check in on some of those fields below.
    &lt;button type="button" class="close" data-dismiss="alert" aria-label="Close"&gt;
        &lt;span aria-hidden="true"&gt;&amp;times;&lt;/span&gt;
    &lt;/button&gt;
&lt;/div&gt;
&lt;div class="alert alert-light alert-dismissible fade show" role="alert"&gt;
    &lt;strong&gt;Holy guacamole!&lt;/strong&gt; You should check in on some of those fields below.
    &lt;button type="button" class="close" data-dismiss="alert" aria-label="Close"&gt;
        &lt;span aria-hidden="true"&gt;&amp;times;&lt;/span&gt;
    &lt;/button&gt;
&lt;/div&gt;
&lt;div class="alert alert-dark alert-dismissible fade show" role="alert"&gt;
    &lt;strong&gt;Holy guacamole!&lt;/strong&gt; You should check in on some of those fields below.
    &lt;button type="button" class="close" data-dismiss="alert" aria-label="Close"&gt;
        &lt;span aria-hidden="true"&gt;&amp;times;&lt;/span&gt;
    &lt;/button&gt;
&lt;/div&gt;
                                </code></pre>
                            </div>
                        </div>

                        <h4 id="button">Buttons</h4>
                        <div class="box-hover margin-30px-bottom padding-30px-bottom">
                            <a class="butn white" href="#"><span class="alt-font">Button White</span></a>
                            <a class="butn" href="#"><span class="alt-font">Button</span></a>

                            <div class="copy-element"><a class="copy-clipboard" data-clipboard-target="#section1">Copy</a></div>
                            <div class="source-element"><a class="source-modal" href="#copy-code1">Source</a></div>

                            <div id="copy-code1" class="mfp-hide white-popup-block popup-copy">
                                <div class="copy-element"><a class="copy-clipboard" data-clipboard-target="#section1">copy</a></div>
                                <pre id="section1"><code class="language-html">
&lt;a class="butn white" href="#"&gt;&lt;span class="alt-font"&gt;Button White&lt;/span&gt;&lt;/a&gt;
&lt;a class="butn" href="#"&gt;&lt;span class="alt-font"&gt;Button&lt;/span&gt;&lt;/a&gt;
                                </code></pre>
                            </div>
                        </div>

                        <h4 id="card">Card</h4>
                        <div class="box-hover margin-30px-bottom padding-30px-bottom">
                            <div class="row">
                                <div class="col-md-6 xs-margin-30px-bottom">
                                    <div class="card package">
                                        <img src="img/content/package-1.jpg" class="card-img-top" alt="" />
                                        <div class="card-body padding-30px-all">
                                            <div class="margin-20px-bottom border-bottom d-flex padding-15px-bottom justify-content-between align-items-center">
                                                <div>
                                                    <h5 class="no-margin-bottom font-size22">Bali</h5>
                                                    <span class="letter-spacing-2"><span class="ti-location-pin"></span> Indonesia</span>
                                                </div>
                                                <div>
                                                    <span class="font-size30 text-dark">549$</span>
                                                </div>
                                            </div>
                                            <p class="margin-30px-bottom">Lorem ipsum dolor sit amet, elit consectetur adipiscing elit. Nunc ut efficitur ante. Donec dapibu.</p>
                                            <a href="tour-detail.html" class="butn">Details</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="blog-block1 card border-0">
                                        <div class="img">
                                            <a href="#"><span>6 Aug</span> 2019</a>
                                            <img src="img/blog/blog-4.jpg" class="card-img-top" alt="">
                                        </div>
                                        <div class="bg-light-gray padding-40px-tb padding-30px-lr card-body">
                                            <div class="margin-30px-bottom font-size13">
                                                <a href="#" class="margin-15px-right"><i class="ti-user margin-5px-right"></i>By Admin</a>
                                                <a href="#"><i class="ti-tag margin-5px-right"></i>WordPress</a>
                                            </div>

                                            <h5 class="font-size20"><a href="#" class="text-extra-dark-gray">Master These Awesome New Skills in May 2019</a></h5>

                                            <a href="#" class="text-theme-color">Read More</a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="copy-element"><a class="copy-clipboard" data-clipboard-target="#section3">Copy</a></div>
                            <div class="source-element"><a class="source-modal" href="#copy-code3">Source</a></div>

                            <div id="copy-code3" class="mfp-hide white-popup-block popup-copy">
                                <div class="copy-element"><a class="copy-clipboard" data-clipboard-target="#section3">copy</a></div>
                                <pre id="section3"><code class="language-html">
&lt;div class="row"&gt;
    &lt;div class="col-md-6"&gt;
        &lt;div class="card package"&gt;
            &lt;img src="img/content/package-1.jpg" class="card-img-top" alt="" /&gt;
            &lt;div class="card-body padding-30px-all"&gt;
                &lt;div class="margin-20px-bottom border-bottom d-flex padding-15px-bottom justify-content-between align-items-center"&gt;
                    &lt;div&gt;
                        &lt;h5 class="no-margin-bottom font-size22"&gt;Bali&lt;/h5&gt;
                        &lt;span class="letter-spacing-2"&gt;&lt;span class="ti-location-pin"&gt;&lt;/span&gt; Indonesia&lt;/span&gt;
                    &lt;/div&gt;
                    &lt;div&gt;
                        &lt;span class="font-size30 text-dark"&gt;549$&lt;/span&gt;
                    &lt;/div&gt;
                &lt;/div&gt;
                &lt;p class="margin-30px-bottom"&gt;Lorem ipsum dolor sit amet, elit consectetur adipiscing elit. Nunc ut efficitur ante. Donec dapibu.&lt;/p&gt;
                &lt;a href="tour-detail.html" class="butn"&gt;Details&lt;/a&gt;
            &lt;/div&gt;
        &lt;/div&gt;
    &lt;/div&gt;
    &lt;div class="col-md-6"&gt;
        &lt;div class="blog-block1 card border-0"&gt;
            &lt;div class="img"&gt;
                &lt;a href="#"&gt;&lt;span&gt;6 Aug&lt;/span&gt; 2019&lt;/a&gt;
                &lt;img src="img/blog/blog-4.jpg" class="card-img-top" alt=""&gt;
            &lt;/div&gt;
            &lt;div class="bg-light-gray padding-40px-tb padding-30px-lr card-body"&gt;
                &lt;div class="margin-30px-bottom font-size13"&gt;
                    &lt;a href="#" class="margin-15px-right"&gt;&lt;i class="ti-user margin-5px-right"&gt;&lt;/i&gt;By Admin&lt;/a&gt;
                    &lt;a href="#"&gt;&lt;i class="ti-tag margin-5px-right"&gt;&lt;/i&gt;WordPress&lt;/a&gt;
                &lt;/div&gt;

                &lt;h5 class="font-size20"&gt;&lt;a href="#" class="text-extra-dark-gray"&gt;Master These Awesome New Skills in May 2019&lt;/a&gt;&lt;/h5&gt;

                &lt;a href="#" class="text-theme-color"&gt;Read More&lt;/a&gt;
            &lt;/div&gt;
        &lt;/div&gt;
    &lt;/div&gt;
&lt;/div&gt;
                                </code></pre>
                            </div>
                        </div>

                        <h4 id="social">Social Icons</h4>
                        <div class="box-hover margin-30px-bottom padding-30px-bottom">
                            <ul class="social-icon-style no-margin">
                                <li>
                                    <a href="javascript:void(0)"><i class="fab fa-facebook-f"></i></a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)"><i class="fab fa-twitter"></i></a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)"><i class="fab fa-instagram"></i></a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)"><i class="fab fa-linkedin-in"></i></a>
                                </li>
                            </ul>

                            <div class="copy-element"><a class="copy-clipboard" data-clipboard-target="#section4">Copy</a></div>
                            <div class="source-element"><a class="source-modal" href="#copy-code4">Source</a></div>

                            <div id="copy-code4" class="mfp-hide white-popup-block popup-copy">
                                <div class="copy-element"><a class="copy-clipboard" data-clipboard-target="#section4">copy</a></div>
                                <pre id="section4"><code class="language-html">
&lt;ul class="social-icon-style no-margin"&gt;
    &lt;li&gt;
        &lt;a href="javascript:void(0)"&gt;&lt;i class="fab fa-facebook-f"&gt;&lt;/i&gt;&lt;/a&gt;
    &lt;/li&gt;
    &lt;li&gt;
        &lt;a href="javascript:void(0)"&gt;&lt;i class="fab fa-twitter"&gt;&lt;/i&gt;&lt;/a&gt;
    &lt;/li&gt;
    &lt;li&gt;
        &lt;a href="javascript:void(0)"&gt;&lt;i class="fab fa-instagram"&gt;&lt;/i&gt;&lt;/a&gt;
    &lt;/li&gt;
    &lt;li&gt;
        &lt;a href="javascript:void(0)"&gt;&lt;i class="fab fa-linkedin-in"&gt;&lt;/i&gt;&lt;/a&gt;
    &lt;/li&gt;
&lt;/ul&gt;
                                </code></pre>
                            </div>
                        </div>

                        <h4 id="form">Forms</h4>
                        <div class="box-hover margin-30px-bottom padding-30px-bottom">
                            <form>
                                <div class="row">
                                    <div class="form-group col-md-6">
                                        <input type="text" name="exampleInputName1" id="exampleInputName1" placeholder="Your Name">
                                    </div>
                                    <div class="form-group col-md-6">
                                        <input type="text" name="exampleInputName2" id="exampleInputName2" placeholder="Email">
                                    </div>
                                    <div class="form-group col-md-12">
                                        <input type="text" name="exampleInputName3" id="exampleInputName3" placeholder="Subject Title">
                                    </div>
                                    <div class="form-group col-md-12">
                                        <textarea placeholder="Message"></textarea>
                                    </div>
                                    <div class="col-md-12">
                                        <button type="submit" class="butn"><span>submit message</span></button>
                                    </div>
                                </div>
                            </form>

                            <div class="copy-element"><a class="copy-clipboard" data-clipboard-target="#section5">Copy</a></div>
                            <div class="source-element"><a class="source-modal" href="#copy-code5">Source</a></div>

                            <div id="copy-code5" class="mfp-hide white-popup-block popup-copy">
                                <div class="copy-element"><a class="copy-clipboard" data-clipboard-target="#section5">copy</a></div>
                                <pre id="section5"><code class="language-html">
&lt;form&gt;
    &lt;div class="row"&gt;
        &lt;div class="form-group col-md-6 margin-30px-bottom"&gt;
            &lt;input type="text" class="form-control no-margin-bottom padding-15px-tb" name="exampleInputName" id="exampleInputName" placeholder="Your Name"&gt;
        &lt;/div&gt;
        &lt;div class="form-group col-md-6 margin-30px-bottom"&gt;
            &lt;input type="text" class="form-control no-margin-bottom padding-15px-tb" name="exampleInputName" id="exampleInputName" placeholder="Email"&gt;
        &lt;/div&gt;
        &lt;div class="form-group col-md-12 margin-30px-bottom"&gt;
            &lt;input type="text" class="form-control no-margin-bottom padding-15px-tb" name="exampleInputName" id="exampleInputName" placeholder="Subject Title"&gt;
        &lt;/div&gt;
        &lt;div class="form-group col-md-12 margin-20px-bottom"&gt;
            &lt;textarea class="form-control" id="exampleFormControlTextarea1" rows="7" placeholder="Message"&gt;&lt;/textarea&gt;
        &lt;/div&gt;
        &lt;div class="col-md-12"&gt;
            &lt;button type="submit" class="butn"&gt;&lt;span&gt;submit message&lt;/span&gt;&lt;/button&gt;
        &lt;/div&gt;
    &lt;/div&gt;
&lt;/form&gt;
                                </code></pre>
                            </div>
                        </div>

                        <h4 id="grid">Grid System</h4>
                        <div>
                        <div class="row box-hover mx-0">
                            <div class="col-md-1 bg-light-gray border margin-15px-bottom padding-10px-tb text-center">.col-md-1</div>
                            <div class="col-md-1 bg-light-gray border margin-15px-bottom padding-10px-tb text-center">.col-md-1</div>
                            <div class="col-md-1 bg-light-gray border margin-15px-bottom padding-10px-tb text-center">.col-md-1</div>
                            <div class="col-md-1 bg-light-gray border margin-15px-bottom padding-10px-tb text-center">.col-md-1</div>
                            <div class="col-md-1 bg-light-gray border margin-15px-bottom padding-10px-tb text-center">.col-md-1</div>
                            <div class="col-md-1 bg-light-gray border margin-15px-bottom padding-10px-tb text-center">.col-md-1</div>
                            <div class="col-md-1 bg-light-gray border margin-15px-bottom padding-10px-tb text-center">.col-md-1</div>
                            <div class="col-md-1 bg-light-gray border margin-15px-bottom padding-10px-tb text-center">.col-md-1</div>
                            <div class="col-md-1 bg-light-gray border margin-15px-bottom padding-10px-tb text-center">.col-md-1</div>
                            <div class="col-md-1 bg-light-gray border margin-15px-bottom padding-10px-tb text-center">.col-md-1</div>
                            <div class="col-md-1 bg-light-gray border margin-15px-bottom padding-10px-tb text-center">.col-md-1</div>
                            <div class="col-md-1 bg-light-gray border margin-15px-bottom padding-10px-tb text-center">.col-md-1</div>

                            <div class="copy-element"><a class="copy-clipboard" data-clipboard-target="#section6">Copy</a></div>
                            <div class="source-element"><a class="source-modal" href="#copy-code6">Source</a></div>

                            <div id="copy-code6" class="mfp-hide white-popup-block popup-copy">
                                <div class="copy-element"><a class="copy-clipboard" data-clipboard-target="#section6">copy</a></div>
                                <pre id="section6"><code class="language-html">
&lt;div class="row"&gt;
    &lt;div class="col-md-1 bg-light-gray border margin-15px-bottom padding-10px-tb text-center"&gt;.col-md-1
    &lt;/div&gt;
    &lt;div class="col-md-1 bg-light-gray border margin-15px-bottom padding-10px-tb text-center"&gt;.col-md-1
    &lt;/div&gt;
    &lt;div class="col-md-1 bg-light-gray border margin-15px-bottom padding-10px-tb text-center"&gt;.col-md-1
    &lt;/div&gt;
    &lt;div class="col-md-1 bg-light-gray border margin-15px-bottom padding-10px-tb text-center"&gt;.col-md-1
    &lt;/div&gt;
    &lt;div class="col-md-1 bg-light-gray border margin-15px-bottom padding-10px-tb text-center"&gt;.col-md-1
    &lt;/div&gt;
    &lt;div class="col-md-1 bg-light-gray border margin-15px-bottom padding-10px-tb text-center"&gt;.col-md-1
    &lt;/div&gt;
    &lt;div class="col-md-1 bg-light-gray border margin-15px-bottom padding-10px-tb text-center"&gt;.col-md-1
    &lt;/div&gt;
    &lt;div class="col-md-1 bg-light-gray border margin-15px-bottom padding-10px-tb text-center"&gt;.col-md-1
    &lt;/div&gt;
    &lt;div class="col-md-1 bg-light-gray border margin-15px-bottom padding-10px-tb text-center"&gt;.col-md-1
    &lt;/div&gt;
    &lt;div class="col-md-1 bg-light-gray border margin-15px-bottom padding-10px-tb text-center"&gt;.col-md-1
    &lt;/div&gt;
    &lt;div class="col-md-1 bg-light-gray border margin-15px-bottom padding-10px-tb text-center"&gt;.col-md-1
    &lt;/div&gt;
    &lt;div class="col-md-1 bg-light-gray border margin-15px-bottom padding-10px-tb text-center"&gt;.col-md-1
    &lt;/div&gt;
&lt;/div&gt;
                            </code></pre>
                            </div>
                        </div>

                        <div class="row box-hover mx-0">
                            <div class="col-md-2 bg-light-gray border margin-15px-bottom padding-10px-tb text-center">.col-md-2</div>
                            <div class="col-md-2 bg-light-gray border margin-15px-bottom padding-10px-tb text-center">.col-md-2</div>
                            <div class="col-md-2 bg-light-gray border margin-15px-bottom padding-10px-tb text-center">.col-md-2</div>
                            <div class="col-md-2 bg-light-gray border margin-15px-bottom padding-10px-tb text-center">.col-md-2</div>
                            <div class="col-md-2 bg-light-gray border margin-15px-bottom padding-10px-tb text-center">.col-md-2</div>
                            <div class="col-md-2 bg-light-gray border margin-15px-bottom padding-10px-tb text-center">.col-md-2</div>

                            <div class="copy-element"><a class="copy-clipboard" data-clipboard-target="#section7">Copy</a></div>
                            <div class="source-element"><a class="source-modal" href="#copy-code7">Source</a></div>

                            <div id="copy-code7" class="mfp-hide white-popup-block popup-copy">
                                <div class="copy-element"><a class="copy-clipboard" data-clipboard-target="#section7">copy</a></div>
                                <pre id="section7"><code class="language-html">
&lt;div class="row"&gt;
    &lt;div class="col-md-2 bg-light-gray border margin-15px-bottom padding-10px-tb text-center"&gt;.col-md-2
    &lt;/div&gt;
    &lt;div class="col-md-2 bg-light-gray border margin-15px-bottom padding-10px-tb text-center"&gt;.col-md-2
    &lt;/div&gt;
    &lt;div class="col-md-2 bg-light-gray border margin-15px-bottom padding-10px-tb text-center"&gt;.col-md-2
    &lt;/div&gt;
    &lt;div class="col-md-2 bg-light-gray border margin-15px-bottom padding-10px-tb text-center"&gt;.col-md-2
    &lt;/div&gt;
    &lt;div class="col-md-2 bg-light-gray border margin-15px-bottom padding-10px-tb text-center"&gt;.col-md-2
    &lt;/div&gt;
    &lt;div class="col-md-2 bg-light-gray border margin-15px-bottom padding-10px-tb text-center"&gt;.col-md-2
    &lt;/div&gt;
&lt;/div&gt;
                            </code></pre>
                            </div>
                        </div>

                        <div class="row box-hover mx-0">
                            <div class="col-md-3 bg-light-gray border margin-15px-bottom padding-10px-tb text-center">.col-md-3</div>
                            <div class="col-md-3 bg-light-gray border margin-15px-bottom padding-10px-tb text-center">.col-md-3</div>
                            <div class="col-md-3 bg-light-gray border margin-15px-bottom padding-10px-tb text-center">.col-md-3</div>
                            <div class="col-md-3 bg-light-gray border margin-15px-bottom padding-10px-tb text-center">.col-md-3</div>

                            <div class="copy-element"><a class="copy-clipboard" data-clipboard-target="#section8">Copy</a></div>
                            <div class="source-element"><a class="source-modal" href="#copy-code8">Source</a></div>

                            <div id="copy-code8" class="mfp-hide white-popup-block popup-copy">
                                <div class="copy-element"><a class="copy-clipboard" data-clipboard-target="#section8">copy</a></div>
                                <pre id="section8"><code class="language-html">
&lt;div class="row"&gt;
    &lt;div class="col-md-3 bg-light-gray border margin-15px-bottom padding-10px-tb text-center"&gt;.col-md-3
    &lt;/div&gt;
    &lt;div class="col-md-3 bg-light-gray border margin-15px-bottom padding-10px-tb text-center"&gt;.col-md-3
    &lt;/div&gt;
    &lt;div class="col-md-3 bg-light-gray border margin-15px-bottom padding-10px-tb text-center"&gt;.col-md-3
    &lt;/div&gt;
    &lt;div class="col-md-3 bg-light-gray border margin-15px-bottom padding-10px-tb text-center"&gt;.col-md-3
    &lt;/div&gt;
&lt;/div&gt;
                            </code></pre>
                            </div>
                        </div>

                        <div class="row box-hover mx-0">
                            <div class="col-md-4 bg-light-gray border margin-15px-bottom padding-10px-tb text-center">.col-md-4</div>
                            <div class="col-md-4 bg-light-gray border margin-15px-bottom padding-10px-tb text-center">.col-md-4</div>
                            <div class="col-md-4 bg-light-gray border margin-15px-bottom padding-10px-tb text-center">.col-md-4</div>

                            <div class="copy-element"><a class="copy-clipboard" data-clipboard-target="#section9">Copy</a></div>
                            <div class="source-element"><a class="source-modal" href="#copy-code9">Source</a></div>

                            <div id="copy-code9" class="mfp-hide white-popup-block popup-copy">
                                <div class="copy-element"><a class="copy-clipboard" data-clipboard-target="#section9">copy</a></div>
                                <pre id="section9"><code class="language-html">
&lt;div class="row"&gt;
    &lt;div class="col-md-4 bg-light-gray border margin-15px-bottom padding-10px-tb text-center"&gt;.col-md-4
    &lt;/div&gt;
    &lt;div class="col-md-4 bg-light-gray border margin-15px-bottom padding-10px-tb text-center"&gt;.col-md-4
    &lt;/div&gt;
    &lt;div class="col-md-4 bg-light-gray border margin-15px-bottom padding-10px-tb text-center"&gt;.col-md-4
    &lt;/div&gt;
&lt;/div&gt;
                            </code></pre>
                            </div>
                        </div>

                        <div class="row box-hover mx-0">
                            <div class="col-md-5 bg-light-gray border margin-15px-bottom padding-10px-tb text-center">.col-md-5</div>
                            <div class="col-md-5 bg-light-gray border margin-15px-bottom padding-10px-tb text-center">.col-md-5</div>
                            <div class="col-md-2 bg-light-gray border margin-15px-bottom padding-10px-tb text-center">.col-md-2</div>

                            <div class="copy-element"><a class="copy-clipboard" data-clipboard-target="#section10">Copy</a></div>
                            <div class="source-element"><a class="source-modal" href="#copy-code10">Source</a></div>

                            <div id="copy-code10" class="mfp-hide white-popup-block popup-copy">
                                <div class="copy-element"><a class="copy-clipboard" data-clipboard-target="#section10">copy</a></div>
                                <pre id="section10"><code class="language-html">
&lt;div class="row"&gt;
    &lt;div class="col-md-5 bg-light-gray border margin-15px-bottom padding-10px-tb text-center"&gt;.col-md-5
    &lt;/div&gt;
    &lt;div class="col-md-5 bg-light-gray border margin-15px-bottom padding-10px-tb text-center"&gt;.col-md-5
    &lt;/div&gt;
    &lt;div class="col-md-2 bg-light-gray border margin-15px-bottom padding-10px-tb text-center"&gt;.col-md-2
    &lt;/div&gt;
&lt;/div&gt;
                            </code></pre>
                            </div>
                        </div>

                        <div class="row box-hover mx-0">
                            <div class="col-md-6 bg-light-gray border margin-15px-bottom padding-10px-tb text-center">.col-md-6</div>
                            <div class="col-md-6 bg-light-gray border margin-15px-bottom padding-10px-tb text-center">.col-md-6</div>

                            <div class="copy-element"><a class="copy-clipboard" data-clipboard-target="#section11">Copy</a></div>
                            <div class="source-element"><a class="source-modal" href="#copy-code11">Source</a></div>

                            <div id="copy-code11" class="mfp-hide white-popup-block popup-copy">
                                <div class="copy-element"><a class="copy-clipboard" data-clipboard-target="#section11">copy</a></div>
                                <pre id="section11"><code class="language-html">
&lt;div class="row"&gt;
    &lt;div class="col-md-6 bg-light-gray border margin-15px-bottom padding-10px-tb text-center"&gt;.col-md-6
    &lt;/div&gt;
    &lt;div class="col-md-6 bg-light-gray border margin-15px-bottom padding-10px-tb text-center"&gt;.col-md-6
    &lt;/div&gt;
&lt;/div&gt;
                            </code></pre>
                            </div>
                        </div>

                        <div class="row box-hover mx-0">
                            <div class="col-md-1 bg-light-gray border margin-15px-bottom padding-10px-tb text-center">.col-md-1</div>
                            <div class="col-md-11 bg-light-gray border margin-15px-bottom padding-10px-tb text-center">.col-md-11</div>

                            <div class="copy-element"><a class="copy-clipboard" data-clipboard-target="#section12">Copy</a></div>
                            <div class="source-element"><a class="source-modal" href="#copy-code12">Source</a></div>

                            <div id="copy-code12" class="mfp-hide white-popup-block popup-copy">
                                <div class="copy-element"><a class="copy-clipboard" data-clipboard-target="#section12">copy</a></div>
                                <pre id="section12"><code class="language-html">
&lt;div class="row"&gt;
    &lt;div class="col-md-1 bg-light-gray border margin-15px-bottom padding-10px-tb text-center"&gt;.col-md-1
    &lt;/div&gt;
    &lt;div class="col-md-11 bg-light-gray border margin-15px-bottom padding-10px-tb text-center"&gt;.col-md-11
    &lt;/div&gt;
&lt;/div&gt;
                            </code></pre>
                            </div>
                        </div>

                        <div class="row box-hover mx-0">
                            <div class="col-md-2 bg-light-gray border margin-15px-bottom padding-10px-tb text-center">.col-md-2</div>
                            <div class="col-md-10 bg-light-gray border margin-15px-bottom padding-10px-tb text-center">.col-md-10</div>

                            <div class="copy-element"><a class="copy-clipboard" data-clipboard-target="#section13">Copy</a></div>
                            <div class="source-element"><a class="source-modal" href="#copy-code13">Source</a></div>

                            <div id="copy-code13" class="mfp-hide white-popup-block popup-copy">
                                <div class="copy-element"><a class="copy-clipboard" data-clipboard-target="#section13">copy</a></div>
                                <pre id="section13"><code class="language-html">
&lt;div class="row"&gt;
    &lt;div class="col-md-2 bg-light-gray border margin-15px-bottom padding-10px-tb text-center"&gt;.col-md-2
    &lt;/div&gt;
    &lt;div class="col-md-10 bg-light-gray border margin-15px-bottom padding-10px-tb text-center"&gt;.col-md-10
    &lt;/div&gt;
&lt;/div&gt;
                            </code></pre>
                            </div>
                        </div>

                        <div class="row box-hover mx-0">
                            <div class="col-md-3 bg-light-gray border margin-15px-bottom padding-10px-tb text-center">.col-md-3</div>
                            <div class="col-md-9 bg-light-gray border margin-15px-bottom padding-10px-tb text-center">.col-md-9</div>

                            <div class="copy-element"><a class="copy-clipboard" data-clipboard-target="#section14">Copy</a></div>
                            <div class="source-element"><a class="source-modal" href="#copy-code14">Source</a></div>

                            <div id="copy-code14" class="mfp-hide white-popup-block popup-copy">
                                <div class="copy-element"><a class="copy-clipboard" data-clipboard-target="#section14">copy</a></div>
                                <pre id="section14"><code class="language-html">
&lt;div class="row"&gt;
    &lt;div class="col-md-3 bg-light-gray border margin-15px-bottom padding-10px-tb text-center"&gt;.col-md-3
    &lt;/div&gt;
    &lt;div class="col-md-9 bg-light-gray border margin-15px-bottom padding-10px-tb text-center"&gt;.col-md-9
    &lt;/div&gt;
&lt;/div&gt;
                            </code></pre>
                            </div>
                        </div>

                        <div class="row box-hover mx-0">
                            <div class="col-md-4 bg-light-gray border margin-15px-bottom padding-10px-tb text-center">.col-md-4</div>
                            <div class="col-md-8 bg-light-gray border margin-15px-bottom padding-10px-tb text-center">.col-md-8</div>

                            <div class="copy-element"><a class="copy-clipboard" data-clipboard-target="#section15">Copy</a></div>
                            <div class="source-element"><a class="source-modal" href="#copy-code15">Source</a></div>

                            <div id="copy-code15" class="mfp-hide white-popup-block popup-copy">
                                <div class="copy-element"><a class="copy-clipboard" data-clipboard-target="#section15">copy</a></div>
                                <pre id="section15"><code class="language-html">
&lt;div class="row"&gt;
    &lt;div class="col-md-4 bg-light-gray border margin-15px-bottom padding-10px-tb text-center"&gt;.col-md-4
    &lt;/div&gt;
    &lt;div class="col-md-8 bg-light-gray border margin-15px-bottom padding-10px-tb text-center"&gt;.col-md-8
    &lt;/div&gt;
&lt;/div&gt;
                            </code></pre>
                            </div>
                        </div>

                        <div class="row box-hover mx-0 margin-30px-bottom padding-30px-bottom">
                            <div class="col-md-5 bg-light-gray border xs-margin-15px-bottom padding-10px-tb text-center">.col-md-5</div>
                            <div class="col-md-7 bg-light-gray border padding-10px-tb text-center">.col-md-7</div>

                            <div class="copy-element"><a class="copy-clipboard" data-clipboard-target="#section16">Copy</a></div>
                            <div class="source-element"><a class="source-modal" href="#copy-code16">Source</a></div>

                            <div id="copy-code16" class="mfp-hide white-popup-block popup-copy">
                                <div class="copy-element"><a class="copy-clipboard" data-clipboard-target="#section16">copy</a></div>
                                <pre id="section16"><code class="language-html">
&lt;div class="row"&gt;
    &lt;div class="col-md-5 bg-light-gray border margin-15px-bottom padding-10px-tb text-center"&gt;.col-md-5
    &lt;/div&gt;
    &lt;div class="col-md-7 bg-light-gray border margin-15px-bottom padding-10px-tb text-center"&gt;.col-md-7
    &lt;/div&gt;
&lt;/div&gt;
                            </code></pre>
                            </div>
                            </div>
                        </div>

                        <h4 id="accordions">Accordions</h4>
                        <div class="box-hover">
                            <div class="accordion" id="accordionOne">
                                <div class="card">
                                    <div class="card-header" id="headingOne">
                                        <h2 class="mb-0">
                                    <button class="btn btn-link mb-0 text-dark" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                      How much does it price to do a personal trip?
                                    </button>
                                  </h2>
                                    </div>

                                    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionOne">
                                        <div class="card-body line-height-lg">
                                            When an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. 
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header" id="headingTwo">
                                        <h2 class="mb-0">
                                    <button class="btn btn-link mb-0 collapsed text-dark" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                      Do I have to make a booking?
                                    </button>
                                  </h2>
                                    </div>
                                    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionOne">
                                        <div class="card-body line-height-lg">
                                            It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution.
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="copy-element"><a class="copy-clipboard" data-clipboard-target="#section17">Copy</a></div>
                            <div class="source-element"><a class="source-modal" href="#copy-code17">Source</a></div>

                            <div id="copy-code17" class="mfp-hide white-popup-block popup-copy">
                                <div class="copy-element"><a class="copy-clipboard" data-clipboard-target="#section17">copy</a></div>
                                <pre id="section17"><code class="language-html">
&lt;div class="accordion" id="accordionOne"&gt;
    &lt;div class="card"&gt;
        &lt;div class="card-header" id="headingOne"&gt;
            &lt;h2 class="mb-0"&gt;
                                    &lt;button class="btn btn-link mb-0 text-dark" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne"&gt;
                                      How much does it price to do a personal trip?
                                    &lt;/button&gt;
                                  &lt;/h2&gt;
        &lt;/div&gt;

        &lt;div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionOne"&gt;
            &lt;div class="card-body line-height-lg"&gt;
                When an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
            &lt;/div&gt;
        &lt;/div&gt;
    &lt;/div&gt;
    &lt;div class="card"&gt;
        &lt;div class="card-header" id="headingTwo"&gt;
            &lt;h2 class="mb-0"&gt;
                                    &lt;button class="btn btn-link mb-0 collapsed text-dark" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo"&gt;
                                      Do I have to make a booking?
                                    &lt;/button&gt;
                                  &lt;/h2&gt;
        &lt;/div&gt;
        &lt;div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionOne"&gt;
            &lt;div class="card-body line-height-lg"&gt;
                It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution.
            &lt;/div&gt;
        &lt;/div&gt;
    &lt;/div&gt;
&lt;/div&gt;
                                </code></pre>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </section>
        <!-- end elements table -->

    <!-- start footer section -->
        <footer class="bg-img cover-background" data-background="img/content/footer-bg.jpg">
            <div class="footer-area padding-70px-tb md-padding-40px-tb xs-padding-30px-tb">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-5 col-sm-6 sm-margin-30px-bottom">
                            <img src="img/logos/logo.png" class="width-50" alt="" />
                            <div class="margin-30px-top">
                                <a href="#" class="margin-10px-right"><img src="img/content/pay-1.png" alt="" /></a>
                                <a href="#" class="margin-10px-right"><img src="img/content/pay-2.png" alt="" /></a>
                                <a href="#"><img src="img/content/pay-3.png" alt="" /></a>
                            </div>
                        </div>

                        <div class="col-lg-2 col-sm-6 sm-margin-30px-bottom">
                            <h3 class="footer-title-style1">Company</h3>
                            <ul class="list-style-1 no-margin-bottom">
                                <li><a href="#">Home</a></li>
                                <li><a href="#">About Us</a></li>
                                <li><a href="#">Dashboard</a></li>
                                <li><a href="#">Blog</a></li>
                                <li><a href="#">Contact Us</a></li>
                            </ul>
                        </div>
                        <div class="col-lg-2 col-sm-6 mobile-margin-30px-bottom">
                            <h3 class="footer-title-style1">Links</h3>
                            <ul class="list-style-1 no-margin-bottom">
                                <li><a href="#">Home</a></li>
                                <li><a href="#">About Us</a></li>
                                <li><a href="#">Dashboard</a></li>
                                <li><a href="#">Blog</a></li>
                                <li><a href="#">Contact Us</a></li>
                            </ul>
                        </div>
                        <div class="col-lg-3 col-sm-6">
                            <h3 class="footer-title-style1">Contact Us</h3>
                            <ul class="list-style-1 no-margin">
                                <li>
                                    <span class="d-inline-block vertical-align-top font-size18"><i class="ti-location-pin text-theme-color"></i></span>
                                    <span class="d-inline-block width-65 sm-width-85 vertical-align-top padding-10px-left">74 Guild Street 542B, Great North Town MT.</span>
                                </li>
                                <li>
                                    <span class="d-inline-block vertical-align-top font-size18"><i class="ti-mobile text-theme-color"></i></span>
                                    <span class="d-inline-block width-65 sm-width-85 vertical-align-top padding-10px-left">(+44) 123 456 789</span>
                                </li>
                                <li>
                                    <span class="d-inline-block vertical-align-top font-size18"><i class="ti-email text-theme-color"></i></span>
                                    <span class="d-inline-block width-65 sm-width-85 vertical-align-top padding-10px-left">example@yourname.com</span>
                                </li>
                            </ul>
                        </div>
                    </div>

                </div>
            </div>

            <div class="footer-bar xs-padding-15px-tb">
                <div class="container">
                    <div class="float-right xs-width-100 text-center xs-margin-5px-bottom">
                        <ul class="social-icon-style no-margin">
                            <li>
                                <a href="javascript:void(0)"><i class="fab fa-facebook-f"></i></a>
                            </li>
                            <li>
                                <a href="javascript:void(0)"><i class="fab fa-twitter"></i></a>
                            </li>
                            <li>
                                <a href="javascript:void(0)"><i class="fab fa-instagram"></i></a>
                            </li>
                            <li>
                                <a href="javascript:void(0)"><i class="fab fa-linkedin-in"></i></a>
                            </li>
                        </ul>
                    </div>
                    <div class="float-left xs-width-100 text-center">
                        <p class="font-weight-600 margin-5px-top xs-no-margin-top">&copy; 2020 Adventure is Powered by <a href="https://www.chitrakootweb.com/" target="_blank">Chitrakoot Web</a></p>
                    </div>
                </div>
            </div>
        </footer>
        <!-- end footer section -->

    </div>
    <!-- end main-wrapper section -->

    <!-- BUY TEMPLATE
    ================================================== -->
    <div class="buy-theme alt-font d-none d-lg-inline-block"><a href="https://wrapbootstrap.com/theme/adventure-tour-and-travel-agency-template-WB0P8931T" target="_blank"><i class="fas fa-cart-plus"></i><span>Buy Template</span></a></div>

    <div class="all-demo alt-font d-none d-lg-inline-block"><a href="https://www.chitrakootweb.com/contact.html" target="_blank"><i class="far fa-envelope"></i><span>Quick Question?</span></a></div>

    <!-- start scroll to top -->
    <a href="javascript:void(0)" class="scroll-to-top"><i class="fas fa-angle-up" aria-hidden="true"></i></a>
    <!-- end scroll to top -->

    <!-- Java script -->
    <script src="js/core.min.js"></script>

    <!-- serch -->
    <script src="search/search.js"></script>
        
    <!-- custom scripts -->
    <script src="js/main.js"></script>

</body>

</html>