<!DOCTYPE html>
<html lang="en">

<head>

    <!-- metas -->
    <meta charset="utf-8">
    <meta name="author" content="Chitrakoot Web" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="keywords" content="Tour and Travel Agency Template" />
    <meta name="description" content="Adventure - Tour and Travel Agency Template" />

    <!-- title  -->
    <title>Adventure - Tour and Travel Agency Template</title>

    <!-- favicon -->
    <link rel="shortcut icon" href="img/logos/favicon.png" />
    <link rel="apple-touch-icon" href="img/logos/apple-touch-icon-57x57.png" />
    <link rel="apple-touch-icon" sizes="72x72" href="img/logos/apple-touch-icon-72x72.png" />
    <link rel="apple-touch-icon" sizes="114x114" href="img/logos/apple-touch-icon-114x114.png" />

    <!-- plugins -->
    <link rel="stylesheet" href="css/plugins.css" />

    <!-- search css -->
    <link rel="stylesheet" href="search/search.css" />

    <!-- core style css -->
    <link href="css/styles.css" rel="stylesheet" />

</head>

<body>

    <!-- start page loading -->
    <div id="preloader">
        <div class="row loader">
            <div class="loader-icon"></div>
        </div>
    </div>
    <!-- end page loading -->

    <!-- start main-wrapper section -->
    <div class="main-wrapper">

        <!-- start header section -->
        <header>

            <div class="navbar-default">

                <!-- start top search -->
                <div class="top-search bg-black">
                    <div class="container">
                        <form class="search-form" action="search.html" method="GET" accept-charset="utf-8">
                            <div class="input-group">
                                <span class="input-group-addon cursor-pointer">
                                    <button class="search-form_submit fas fa-search font-size18 text-white" type="submit"></button>
                                </span>
                                <input type="text" class="search-form_input form-control" name="s" autocomplete="off" placeholder="Type & hit enter...">
                                <span class="input-group-addon close-search"><i class="fas fa-times font-size18 line-height-28 margin-5px-top"></i></span>
                            </div>
                        </form>
                    </div>
                </div>
                <!-- end top search -->
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-12 col-lg-12">
                            <div class="menu_area alt-font">
                                <nav class="navbar navbar-expand-lg navbar-light no-padding">

                                    <div class="navbar-header navbar-header-custom">
                                        <!-- start logo -->
                                        <a href="index.html" class="navbar-brand logo4"><img id="logo" src="img/logos/logo.png" alt="logo" /></a>
                                        <!-- end logo -->
                                    </div>

                                    <div class="navbar-toggler"></div>

                                    <!-- start menu area -->
                                    <ul class="navbar-nav ml-auto" id="nav" style="display: none;">
                                        <li><a href="index.html">Home</a></li>
                                        <li><a href="javascript:void(0)">Pages</a>
                                            <ul>
                                                <li><a href="about-us.html">About Us</a></li>
                                                <li><a href="booking.html">Booking</a></li>
                                                <li><a href="elements.html">Elements</a></li>
                                                <li><a href="login.html">Login</a></li>
                                                <li><a href="registration.html">Register</a></li>
                                                <li><a href="javascript:void(0)">Other</a>
                                                    <ul>
                                                        <li><a href="faq.html">FAQ</a></li>
                                                        <li><a href="404-page.html">404 Page</a></li>
                                                        <li><a href="coming-soon.html">Coming Soon</a></li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </li>
                                        <li><a href="javascript:void(0)">Tour</a>
                                            <ul>
                                                <li><a href="tour-grid.html">Tour Grid</a></li>
                                                <li><a href="tour-listing.html">Tour List</a></li>
                                                <li><a href="tour-detail.html">Tour Details</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="javascript:void(0)">Portfolio</a>
                                            <ul>
                                                <li><a href="portfolio-1.html">Portfolio Simple</a></li>
                                                <li><a href="portfolio-2.html">Portfolio Masonry</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="javascript:void(0)">Blog</a>
                                            <ul>
                                                <li><a href="blog-grid.html">Blog Grid</a></li>
                                                <li><a href="blog-details.html">Blog Details</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="contact-us.html">Contact</a></li>
                                    </ul>
                                    <!-- end menu area -->

                                    <!-- start atribute navigation -->
                                    <div class="attr-nav sm-no-margin sm-margin-65px-right xs-margin-50px-right">
                                        <ul class="no-margin-top">
                                            <li class="search"><a href="#"><i class="fas fa-search"></i></a></li>
                                        </ul>
                                    </div>
                                    <!-- end atribute navigation -->

                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </header>
        <!-- end header section -->

        <!-- start banner -->
        <section class="bg-img screen-height cover-background line-banner" data-overlay-dark="2" data-background="img/banner/bg2.jpg">

            <!-- start banner text -->
            <div class="header-text">
                <div class="container">
                    <div class="text-center">

                        <!-- start banner headline text -->
                        <h1 class="cd-headline slide">
                            Best Place For Your Holidays
                        </h1>
                        <!-- end banner headline text -->
                    </div>
                </div>
            </div>
            <!-- end banner text -->

        </section>
        <!-- end banner -->

        <!-- start banner form -->
        <div class="container">
            <div class="bg-white shadow padding-30px-tb banner-form padding-20px-lr border-radius-4">
                <form method="post" action="#!">
                    <div class="form-row align-items-center">
                        <div class="col-6 col-sm-3 col-md-3 mobile-margin-25px-bottom">
                            <div class="no-margin-bottom">
                                <input type="text" class="no-margin-bottom" id="inlineFormInputGroup2" placeholder="Destination">
                            </div>
                        </div>
                        <div class="col-6 col-sm-4 col-md-4 mobile-margin-25px-bottom">
                            <div class="no-margin-bottom">
                                <input type="text" class="no-margin-bottom" id="inlineFormInputGroup3" placeholder="Tour Type">
                            </div>
                        </div>
                        <div class="col-6 col-sm-3 col-md-3">
                            <div class="no-margin-bottom">
                                <input type="text" class="date no-margin-bottom" data-provide="datepicker" placeholder="Date">
                            </div>
                        </div>
                        <div class="col-6 col-sm-2 col-md-2">
                            <button type="submit" class="butn btn-block"><span class="ti-search"></span></button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <!-- end banner form -->

        <!-- Start popular destination Section -->
        <section>
            <div class="container">
                <div class="row">
                    <div class="col-md-5 margin-30px-top xs-no-margin-top xs-margin-30px-bottom">
                        <div class="destination padding-50px-right xs-no-padding-right">
                            <h4 class="margin-30px-bottom">Find the most incredible places in world</h4>
                            <p class="margin-30px-bottom">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt</p>
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Search Destination .." aria-label="Search Destination .." aria-describedby="button-addon2">
                                <div class="input-group-append">
                                    <button class="btn btn-outline-secondary" type="button" id="button-addon2"><span class="ti-search"></span></button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-7 text-center">
                        <div class="owl-carousel owl-theme" id="destination">
                            <div>
                                <img src="img/content/destination-1.jpg" class="border-radius-4" alt="" />
                                <div class="padding-20px-top padding-20px-left">
                                    <h5 class="font-size22 sm-font-size18 no-margin-bottom">Argentina</h5>
                                    <p class="no-margin-bottom">12 Tours Available</p>
                                </div>
                            </div>
                            <div class="margin-30px-top xs-no-margin-top">
                                <img src="img/content/destination-2.jpg" class="border-radius-4" alt="" />
                                <div class="padding-20px-top padding-20px-left">
                                    <h5 class="font-size22 sm-font-size18 no-margin-bottom">Slovenia</h5>
                                    <p class="no-margin-bottom">10 Tours Available</p>
                                </div>
                            </div>
                            <div>
                                <img src="img/content/destination-3.jpg" class="border-radius-4" alt="" />
                                <div class="padding-20px-top padding-20px-left">
                                    <h5 class="font-size22 sm-font-size18 no-margin-bottom">Maldives</h5>
                                    <p class="no-margin-bottom">4 Tours Available</p>
                                </div>
                            </div>
                            <div class="margin-30px-top xs-no-margin-top">
                                <img src="img/content/destination-4.jpg" class="border-radius-4" alt="" />
                                <div class="padding-20px-top padding-20px-left">
                                    <h5 class="font-size22 sm-font-size18 no-margin-bottom">Madrid</h5>
                                    <p class="no-margin-bottom">5 Tours Available</p>
                                </div>
                            </div>
                            <div>
                                <img src="img/content/destination-5.jpg" class="border-radius-4" alt="" />
                                <div class="padding-20px-top padding-20px-left">
                                    <h5 class="font-size22 sm-font-size18 no-margin-bottom">New York</h5>
                                    <p class="no-margin-bottom">8 Tours Available</p>
                                </div>
                            </div>
                            <div class="margin-30px-top xs-no-margin-top">
                                <img src="img/content/destination-6.jpg" class="border-radius-4" alt="" />
                                <div class="padding-20px-top padding-20px-left">
                                    <h5 class="font-size22 sm-font-size18 no-margin-bottom">Bali</h5>
                                    <p class="no-margin-bottom">2 Tours Available</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End  popular destination Section -->

        <!-- start packages section -->
        <section>
            <div class="container">
                <div class="text-center margin-40px-bottom">
                    <h3 class="margin-10px-bottom position-relative">Popular Packages</h3>
                </div>
                <div class="row">
                    <div class="col-lg-4 sm-margin-30px-bottom">
                        <div class="border border-radius-4 package h-100">
                            <img src="img/content/package-1.jpg" alt="" />
                            <div class="padding-30px-all">
                                <div class="margin-20px-bottom  border-bottom d-flex padding-15px-bottom justify-content-between align-items-center">
                                    <div>
                                        <h5 class="no-margin-bottom font-size22">Bali</h5>
                                        <span class="letter-spacing-2"><span class="ti-location-pin"></span> Indonesia</span>
                                    </div>
                                    <div>
                                        <span class="font-size30 text-dark">549$</span>
                                    </div>
                                </div>
                                <p class="margin-30px-bottom">Lorem ipsum dolor sit amet, elit consectetur adipiscing elit. Nunc ut efficitur ante. Donec dapibu.</p>
                                <a href="tour-detail.html" class="butn">Details</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 sm-margin-30px-bottom">
                        <div class="border border-radius-4 package h-100">
                            <img src="img/content/package-2.jpg" alt="" />
                            <div class="padding-30px-all">
                                <div class="margin-20px-bottom  border-bottom d-flex padding-15px-bottom justify-content-between align-items-center">
                                    <div>
                                        <h5 class="no-margin-bottom font-size22">New York</h5>
                                        <span class="letter-spacing-2"><span class="ti-location-pin"></span> USA</span>
                                    </div>
                                    <div>
                                        <span class="font-size30 text-dark">769$</span>
                                    </div>
                                </div>
                                <p class="margin-30px-bottom">It is a long established fact that a reader will be distracted by the readable content of a page when.</p>
                                <a href="tour-detail.html" class="butn">Details</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="border border-radius-4 package h-100">
                            <img src="img/content/package-3.jpg" alt="" />
                            <div class="padding-30px-all">
                                <div class="margin-20px-bottom  border-bottom d-flex padding-15px-bottom justify-content-between align-items-center">
                                    <div>
                                        <h5 class="no-margin-bottom font-size22">Tokio</h5>
                                        <span class="letter-spacing-2"><span class="ti-location-pin"></span> Japan</span>
                                    </div>
                                    <div>
                                        <span class="font-size30 text-dark">899$</span>
                                    </div>
                                </div>
                                <p class="margin-30px-bottom">Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text.</p>
                                <a href="tour-detail.html" class="butn">Details</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- end packages section -->

        <!-- start other section -->
        <section>
            <div class="container">
                <div class="row">
                    <div class="col-md-6 xs-margin-30px-bottom">
                        <div class="bg-img padding-100px-tb border-radius-4 cover-background text-center h-100" Data-overlay-dark="3" data-background="img/content/01.jpg">
                            <div class="position-relative z-index-9">
                                <span class="text-white font-size16">01. Last Minute</span>
                                <h4 class="text-white margin-20px-top font-size38 xs-font-size34 margin-30px-bottom">Discover Cities</h4>
                                <a href="#" class="butn white">Details</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="bg-img padding-100px-tb border-radius-4 cover-background text-center h-100" data-overlay-dark="4" data-background="img/content/02.jpg">
                            <div class="position-relative z-index-9">
                                <span class="text-white font-size16">02. Last Minute</span>
                                <h4 class="text-white margin-20px-top font-size38 xs-font-size34 margin-30px-bottom">Discover Nature</h4>
                                <a href="#" class="butn white">Details</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- end other section -->

        <!-- start countries section -->
        <section>
            <div class="container">
                <div class="text-center margin-40px-bottom">
                    <h3 class="no-margin-bottom">Popular Tourist Countries</h3>
                </div>
                <div class="row">
                    <div class="col-lg-3 col-sm-6 sm-margin-30px-bottom">
                        <div class="text-center padding-40px-tb padding-20px-lr border border-radius-4 country h-100">
                            <img src="img/content/tour-7.png" class="margin-30px-bottom" alt="" />
                            <h5 class="sm-margin-10px-bottom margin-15px-bottom font-size20">Singapore</h5>
                            <p class="center-col no-margin-bottom">Lorem Ipsum is simply dummy text of the printing.</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6 sm-margin-30px-bottom">
                        <div class="text-center padding-40px-tb padding-20px-lr border border-radius-4 country h-100">
                            <img src="img/content/tour-8.png" class="margin-30px-bottom" alt="" />
                            <h5 class="sm-margin-10px-bottom margin-15px-bottom font-size20">Paris</h5>
                            <p class="center-col no-margin-bottom">It is a long established fact that a reader will.</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6 mobile-margin-30px-bottom">
                        <div class="text-center padding-40px-tb padding-20px-lr border border-radius-4 country h-100">
                            <img src="img/content/tour-9.png" class="margin-30px-bottom" alt="" />
                            <h5 class="sm-margin-10px-bottom margin-15px-bottom font-size20">Tokyo</h5>
                            <p class="center-col no-margin-bottom">Content of a page when looking at its layout the point.</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6">
                        <div class="text-center padding-40px-tb padding-20px-lr border border-radius-4 country h-100">
                            <img src="img/content/tour-10.png" class="margin-30px-bottom" alt="" />
                            <h5 class="sm-margin-10px-bottom margin-15px-bottom font-size20">NewYork</h5>
                            <p class="center-col no-margin-bottom">Aliquam quis ullamcorper neque. Suspendisse potenti.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- end countries section -->

        <!-- start testimonial section -->
        <section>
            <div class="container">
                <div class="text-center margin-40px-bottom">
                    <h3 class="margin-10px-bottom">Testimonial</h3>
                </div>
                <div class="owl-carousel owl-theme" id="testmonials-carousel">
                    <div class="center-col testimonial-style">
                        <div class="testimonial-item">
                            <div class="testimonial-review">
                                <p class="line-height-28 font-weight-500 font-size16 sm-font-size14 sm-line-height-24">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed.</p>
                            </div>
                            <div class="testimonial-left-col">

                                <div class="testimonial-pic">
                                    <div class="testimonial-separator"></div>
                                    <img src="img/testmonials/t-1.jpg" alt="" class="border-radius-4" /> </div>

                                <div class="client-info">
                                    <h6>Carl Linden</h6>
                                    <span>Customer</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="center-col testimonial-style">
                        <div class="testimonial-item">
                            <div class="testimonial-review">
                                <p class="line-height-28 font-weight-500 font-size16 sm-font-size14 sm-line-height-24">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable going to use a passage.</p>
                            </div>
                            <div class="testimonial-left-col">

                                <div class="testimonial-pic">
                                    <div class="testimonial-separator"></div>
                                    <img src="img/testmonials/t-2.jpg" alt="" class="border-radius-4" /> </div>

                                <div class="client-info">
                                    <h6>Jane Knight</h6>
                                    <span>Customer</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="center-col testimonial-style">
                        <div class="testimonial-item">
                            <div class="testimonial-review">
                                <p class="line-height-28 font-weight-500 font-size16 sm-font-size14 sm-line-height-24">It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum obscure Latin words, consectetur, from a Lorem.</p>
                            </div>
                            <div class="testimonial-left-col">

                                <div class="testimonial-pic">
                                    <div class="testimonial-separator"></div>
                                    <img src="img/testmonials/t-3.jpg" alt="" class="border-radius-4" /> </div>

                                <div class="client-info">
                                    <h6>Ron Baker</h6>
                                    <span>Customer</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- end testimonial section -->

        <!-- start tour type section -->
        <section class="bg-img cover-background" data-overlay-dark="6" data-background="img/content/04.jpg">
            <div class="container padding-30px-tb sm-padding-15px-tb">
                <div class="margin-40px-bottom text-center">
                    <h3 class="no-margin-bottom text-white">Tour Types</h3>
                </div>
                <div class="row text-center">
                    <div class="col-md-2 col-sm-4 col-6 xs-margin-30px-bottom">
                        <a href="#">
                            <img src="img/content/tour-1.png" class="margin-20px-bottom" alt="" />
                            <p class="text-white no-margin-bottom">Adventure</p>
                        </a>
                    </div>
                    <div class="col-md-2 col-sm-4 col-6 xs-margin-30px-bottom">
                        <a href="#">
                            <img src="img/content/tour-2.png" class="margin-20px-bottom" alt="" />
                            <p class="text-white no-margin-bottom">Air Rides</p>
                        </a>
                    </div>
                    <div class="col-md-2 col-sm-4 col-6 xs-margin-30px-bottom">
                        <a href="#">
                            <img src="img/content/tour-3.png" class="margin-20px-bottom" alt="" />
                            <p class="text-white no-margin-bottom">Hiking</p>
                        </a>
                    </div>
                    <div class="col-md-2 col-sm-4 col-6 mobile-margin-30px-bottom">
                        <a href="#">
                            <img src="img/content/tour-4.png" class="margin-20px-bottom" alt="" />
                            <p class="text-white no-margin-bottom">Wildlife</p>
                        </a>
                    </div>
                    <div class="col-md-2 col-sm-4 col-6">
                        <a href="#">
                            <img src="img/content/tour-5.png" class="margin-20px-bottom" alt="" />
                            <p class="text-white no-margin-bottom">Hunting</p>
                        </a>
                    </div>
                    <div class="col-md-2 col-sm-4 col-6">
                        <a href="#">
                            <img src="img/content/tour-6.png" class="margin-20px-bottom" alt="" />
                            <p class="text-white no-margin-bottom">Sailing</p>
                        </a>
                    </div>
                </div>
            </div>
        </section>
        <!-- end tour type section -->

        <!-- start blog section -->
        <section>
            <div class="container">
                <div class="text-center margin-40px-bottom">
                    <h3 class="margin-10px-bottom">Latest News</h3>
                </div>
                <div class="owl-theme owl-carousel blog-slider">
                    <div class="row no-gutters align-items-center">
                        <div class="col-lg-7">
                            <img src="img/blog/blog-13.jpg" class="border-radius-4" alt="" />
                        </div>
                        <div class="col-lg-5">
                            <div class="blog-block border-radius-4">
                                <h4 class="font-size22">The 50 extensive road arts in new york city.</h4>
                                <span class="margin-15px-right font-size13"><i class="ti-calendar margin-10px-right"></i>Jan, 14, 2020 </span>
                                <span class="margin-15px-right font-size13"><i class="ti-user margin-10px-right"></i>By Admin</span>
                                <span class="font-size13"><i class="ti-comments margin-10px-right"></i>6 commnets</span>
                                <p class="no-margin-bottom margin-20px-top">Lorem ipsum dolor sit amet, consectetur elit, sed do eiusmod tempor incididunt ut labore et dolore consectetur elit, sed do eiusmod.</p>
                            </div>
                        </div>
                    </div>
                    <div class="row no-gutters align-items-center">
                        <div class="col-lg-7">
                            <img src="img/blog/blog-14.jpg" class="border-radius-4" alt="" />
                        </div>
                        <div class="col-lg-5">
                            <div class="blog-block border-radius-4">
                                <h4 class="font-size22">On the beach of a blue sea in Australia.</h4>
                                <span class="margin-15px-right font-size13"><i class="ti-calendar margin-10px-right"></i>Feb, 20, 2020 </span>
                                <span class="margin-15px-right font-size13"><i class="ti-user margin-10px-right"></i>By Admin</span>
                                <span class="font-size13"><i class="ti-comments margin-10px-right"></i>8 commnets</span>
                                <p class="no-margin-bottom margin-20px-top">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- end blog section -->

        <!-- start footer section -->
        <footer class="bg-img cover-background" data-background="img/content/footer-bg.jpg">
            <div class="footer-area padding-70px-tb md-padding-40px-tb xs-padding-30px-tb">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-5 col-sm-6 sm-margin-30px-bottom">
                            <img src="img/logos/logo.png" class="width-50" alt="" />
                            <div class="margin-30px-top">
                                <a href="#" class="margin-10px-right"><img src="img/content/pay-1.png" alt="" /></a>
                                <a href="#" class="margin-10px-right"><img src="img/content/pay-2.png" alt="" /></a>
                                <a href="#"><img src="img/content/pay-3.png" alt="" /></a>
                            </div>
                        </div>

                        <div class="col-lg-2 col-sm-6 sm-margin-30px-bottom">
                            <h3 class="footer-title-style1">Company</h3>
                            <ul class="list-style-1 no-margin-bottom">
                                <li><a href="#">Home</a></li>
                                <li><a href="#">About Us</a></li>
                                <li><a href="#">Dashboard</a></li>
                                <li><a href="#">Blog</a></li>
                                <li><a href="#">Contact Us</a></li>
                            </ul>
                        </div>
                        <div class="col-lg-2 col-sm-6 mobile-margin-30px-bottom">
                            <h3 class="footer-title-style1">Links</h3>
                            <ul class="list-style-1 no-margin-bottom">
                                <li><a href="#">Home</a></li>
                                <li><a href="#">About Us</a></li>
                                <li><a href="#">Dashboard</a></li>
                                <li><a href="#">Blog</a></li>
                                <li><a href="#">Contact Us</a></li>
                            </ul>
                        </div>
                        <div class="col-lg-3 col-sm-6">
                            <h3 class="footer-title-style1">Contact Us</h3>
                            <ul class="list-style-1 no-margin">
                                <li>
                                    <span class="d-inline-block vertical-align-top font-size18"><i class="ti-location-pin text-theme-color"></i></span>
                                    <span class="d-inline-block width-65 sm-width-85 vertical-align-top padding-10px-left">74 Guild Street 542B, Great North Town MT.</span>
                                </li>
                                <li>
                                    <span class="d-inline-block vertical-align-top font-size18"><i class="ti-mobile text-theme-color"></i></span>
                                    <span class="d-inline-block width-65 sm-width-85 vertical-align-top padding-10px-left">(+44) 123 456 789</span>
                                </li>
                                <li>
                                    <span class="d-inline-block vertical-align-top font-size18"><i class="ti-email text-theme-color"></i></span>
                                    <span class="d-inline-block width-65 sm-width-85 vertical-align-top padding-10px-left">example@yourname.com</span>
                                </li>
                            </ul>
                        </div>
                    </div>

                </div>
            </div>

            <div class="footer-bar xs-padding-15px-tb">
                <div class="container">
                    <div class="float-right xs-width-100 text-center xs-margin-5px-bottom">
                        <ul class="social-icon-style no-margin">
                            <li>
                                <a href="javascript:void(0)"><i class="fab fa-facebook-f"></i></a>
                            </li>
                            <li>
                                <a href="javascript:void(0)"><i class="fab fa-twitter"></i></a>
                            </li>
                            <li>
                                <a href="javascript:void(0)"><i class="fab fa-instagram"></i></a>
                            </li>
                            <li>
                                <a href="javascript:void(0)"><i class="fab fa-linkedin-in"></i></a>
                            </li>
                        </ul>
                    </div>
                    <div class="float-left xs-width-100 text-center">
                        <p class="font-weight-600 margin-5px-top xs-no-margin-top">&copy; 2020 Adventure is Powered by <a href="https://www.chitrakootweb.com/" target="_blank">Chitrakoot Web</a></p>
                    </div>
                </div>
            </div>
        </footer>
        <!-- end footer section -->

    </div>
    <!-- end main-wrapper section -->

    <!-- BUY TEMPLATE
    ================================================== -->
    <div class="buy-theme alt-font d-none d-lg-inline-block"><a href="https://wrapbootstrap.com/theme/adventure-tour-and-travel-agency-template-WB0P8931T" target="_blank"><i class="fas fa-cart-plus"></i><span>Buy Template</span></a></div>

    <div class="all-demo alt-font d-none d-lg-inline-block"><a href="https://www.chitrakootweb.com/contact.html" target="_blank"><i class="far fa-envelope"></i><span>Quick Question?</span></a></div>

    <!-- start scroll to top -->
    <a href="javascript:void(0)" class="scroll-to-top"><i class="fas fa-angle-up" aria-hidden="true"></i></a>
    <!-- end scroll to top -->

    <!-- Java script -->
    <script src="js/core.min.js"></script>

    <!-- serch -->
    <script src="search/search.js"></script>
        
    <!-- custom scripts -->
    <script src="js/main.js"></script>

</body>

</html>