<!DOCTYPE html>
<html lang="en">

<head>

    <!-- metas -->
    <meta charset="utf-8">
    <meta name="author" content="Chitrakoot Web" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="keywords" content="Tour and Travel Agency Template" />
    <meta name="description" content="Adventure - Tour and Travel Agency Template" />

    <!-- title  -->
    <title>Adventure - Tour and Travel Agency Template</title>

    <!-- favicon -->
    <link rel="shortcut icon" href="img/logos/favicon.png" />
    <link rel="apple-touch-icon" href="img/logos/apple-touch-icon-57x57.png" />
    <link rel="apple-touch-icon" sizes="72x72" href="img/logos/apple-touch-icon-72x72.png" />
    <link rel="apple-touch-icon" sizes="114x114" href="img/logos/apple-touch-icon-114x114.png" />

    <!-- plugins -->
    <link rel="stylesheet" href="css/plugins.css" />

    <!-- search css -->
    <link rel="stylesheet" href="search/search.css" />

    <!-- core style css -->
    <link href="css/styles.css" rel="stylesheet" />

</head>

<body>

    <!-- start page loading -->
    <div id="preloader">
        <div class="row loader">
            <div class="loader-icon"></div>
        </div>
    </div>
    <!-- end page loading -->

    <!-- start main-wrapper section -->
    <div class="main-wrapper">

        <!-- start login section -->
        <section class="full-screen text-center cover-background bg-img no-padding" data-overlay-dark="5" data-background="img/content/login.jpg">
            <div class="container d-flex flex-column">
                <div class="row align-items-center justify-content-center min-vh-100">
                    <div class="col-md-8">

                        <div class="bg-black-opacity padding-40px-all sm-padding-25px-all rounded">
                            <h3 class="margin-40px-bottom text-center text-white">Login</h3>
                            <form method="post" action="#!">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <input type="text" name="username" id="username" required="required" placeholder="User Name" maxlength="70">
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="form-group">
                                            <input type="password" name="password" id="password" required="required" placeholder="Password" maxlength="70">
                                        </div>
                                    </div>

                                </div>
                                <div class="row">
                                    <div class="col-sm-6 mb-2">
                                        <div class="custom-control custom-checkbox text-left text-white">
                                            <input type="checkbox" class="custom-control-input" id="login-remember">
                                            <label class="custom-control-label" for="login-remember">Keep me signed in</label>
                                        </div>
                                    </div>
                                    <div class="col-sm-6 text-left text-sm-right">
                                        <a href="#!" class="text-white">Forgot password?</a>
                                    </div>

                                </div>

                                <div class="col-md-12 margin-25px-top">
                                    <button type="button" class="butn btn-block">Login</button>
                                </div>

                                <div class="col-md-12 text-center margin-25px-top text-white">
                                    <span>Don't have an account yet? <a href="registration.html" class="text-white">Register</a></span>
                                </div>

                            </form>
                        </div>

                    </div>
                </div>
            </div>
        </section>
        <!-- end login section -->

    </div>
    <!-- end main-wrapper section -->

    <!-- BUY TEMPLATE
    ================================================== -->
    <div class="buy-theme alt-font d-none d-lg-inline-block"><a href="https://wrapbootstrap.com/theme/adventure-tour-and-travel-agency-template-WB0P8931T" target="_blank"><i class="fas fa-cart-plus"></i><span>Buy Template</span></a></div>

    <div class="all-demo alt-font d-none d-lg-inline-block"><a href="https://www.chitrakootweb.com/contact.html" target="_blank"><i class="far fa-envelope"></i><span>Quick Question?</span></a></div>

    <!-- start scroll to top -->
    <a href="javascript:void(0)" class="scroll-to-top"><i class="fas fa-angle-up" aria-hidden="true"></i></a>
    <!-- end scroll to top -->

    <!-- Java script -->
    <script src="js/core.min.js"></script>

    <!-- serch -->
    <script src="search/search.js"></script>
        
    <!-- custom scripts -->
    <script src="js/main.js"></script>

</body>

</html>