<!DOCTYPE html>
<html lang="en">

<head>

    <!-- metas -->
    <meta charset="utf-8">
    <meta name="author" content="Chitrakoot Web" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="keywords" content="Tour and Travel Agency Template" />
    <meta name="description" content="Adventure - Tour and Travel Agency Template" />

    <!-- title  -->
    <title>Adventure - Tour and Travel Agency Template</title>

    <!-- favicon -->
    <link rel="shortcut icon" href="img/logos/favicon.png" />
    <link rel="apple-touch-icon" href="img/logos/apple-touch-icon-57x57.png" />
    <link rel="apple-touch-icon" sizes="72x72" href="img/logos/apple-touch-icon-72x72.png" />
    <link rel="apple-touch-icon" sizes="114x114" href="img/logos/apple-touch-icon-114x114.png" />

    <!-- plugins -->
    <link rel="stylesheet" href="css/plugins.css" />

    <!-- search css -->
    <link rel="stylesheet" href="search/search.css" />

    <!-- core style css -->
    <link href="css/styles.css" rel="stylesheet" />

</head>

<body>

    <!-- start page loading -->
    <div id="preloader">
        <div class="row loader">
            <div class="loader-icon"></div>
        </div>
    </div>
    <!-- end page loading -->

    <!-- start main-wrapper section -->
    <div class="main-wrapper">

        <!-- start header section -->
        <header>

            <div class="navbar-default">

                <!-- start top search -->
                <div class="top-search bg-black">
                    <div class="container">
                        <form class="search-form" action="search.html" method="GET" accept-charset="utf-8">
                            <div class="input-group">
                                <span class="input-group-addon cursor-pointer">
                                    <button class="search-form_submit fas fa-search font-size18 text-white" type="submit"></button>
                                </span>
                                <input type="text" class="search-form_input form-control" name="s" autocomplete="off" placeholder="Type & hit enter...">
                                <span class="input-group-addon close-search"><i class="fas fa-times font-size18 line-height-28 margin-5px-top"></i></span>
                            </div>
                        </form>
                    </div>
                </div>
                <!-- end top search -->
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-12 col-lg-12">
                            <div class="menu_area alt-font">
                                <nav class="navbar navbar-expand-lg navbar-light no-padding">

                                    <div class="navbar-header navbar-header-custom">
                                        <!-- start logo -->
                                        <a href="index.html" class="navbar-brand logo4"><img id="logo" src="img/logos/logo.png" alt="logo" /></a>
                                        <!-- end logo -->
                                    </div>

                                    <div class="navbar-toggler"></div>

                                    <!-- start menu area -->
                                    <ul class="navbar-nav ml-auto" id="nav" style="display: none;">
                                        <li><a href="index.html">Home</a></li>
                                        <li><a href="javascript:void(0)">Pages</a>
                                            <ul>
                                                <li><a href="about-us.html">About Us</a></li>
                                                <li><a href="booking.html">Booking</a></li>
                                                <li><a href="elements.html">Elements</a></li>
                                                <li><a href="login.html">Login</a></li>
                                                <li><a href="registration.html">Register</a></li>
                                                <li><a href="javascript:void(0)">Other</a>
                                                    <ul>
                                                        <li><a href="faq.html">FAQ</a></li>
                                                        <li><a href="404-page.html">404 Page</a></li>
                                                        <li><a href="coming-soon.html">Coming Soon</a></li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </li>
                                        <li><a href="javascript:void(0)">Tour</a>
                                            <ul>
                                                <li><a href="tour-grid.html">Tour Grid</a></li>
                                                <li><a href="tour-listing.html">Tour List</a></li>
                                                <li><a href="tour-detail.html">Tour Details</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="javascript:void(0)">Portfolio</a>
                                            <ul>
                                                <li><a href="portfolio-1.html">Portfolio Simple</a></li>
                                                <li><a href="portfolio-2.html">Portfolio Masonry</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="javascript:void(0)">Blog</a>
                                            <ul>
                                                <li><a href="blog-grid.html">Blog Grid</a></li>
                                                <li><a href="blog-details.html">Blog Details</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="contact-us.html">Contact</a></li>
                                    </ul>
                                    <!-- end menu area -->

                                    <!-- start atribute navigation -->
                                    <div class="attr-nav sm-no-margin sm-margin-65px-right xs-margin-50px-right">
                                        <ul class="no-margin-top">
                                            <li class="search"><a href="#"><i class="fas fa-search"></i></a></li>
                                        </ul>
                                    </div>
                                    <!-- end atribute navigation -->

                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </header>
        <!-- end header section -->

        <!-- start page title section -->
        <section class="page-title-section bg-img cover-background" data-overlay-dark="6" data-background="img/banner/bg1.jpg">
            <div class="container">
                <h1 class="text-white font-weight-600">Tour Details</h1>
                <ul>
                    <li>
                        <a href="index.html">Home</a>
                    </li>
                    <li>
                        <span class="active">Tour Details</span>
                    </li>
                </ul>
            </div>
        </section>
        <!-- end page title section -->

        <!-- start tour details section -->
        <section>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-md-12 sm-margin-40px-bottom xs-margin-35px-bottom blogs">
                        <div class="posts">
                            <!--  start post-->
                            <div class="post">
                                <div class="content">
                                    <div class="blog-list-simple-text post-meta margin-20px-bottom">
                                        <div class="post-title margin-20px-bottom">
                                            <h5>Everset Base Camp Trekking</h5>
                                        </div>

                                    </div>
                                    <div class="row margin-40px-bottom border-bottom padding-30px-bottom">
                                        <div class="col-md-6">
                                            <p class="margin-10px-bottom text-extra-dark-gray"><span class="ti-time text-theme-color margin-10px-right"></span>5 Days 4 Nights</p>
                                            <p class="no-margin-bottom xs-margin-10px-bottom text-extra-dark-gray"><span class="ti-stamp text-theme-color margin-10px-right"></span>Min Age: 15+</p>
                                        </div>
                                        <div class="col-md-6">
                                            <p class="margin-10px-bottom text-extra-dark-gray"><span class="ti-user text-theme-color margin-10px-right"></span>Group: 5 - 10 People</p>
                                            <p class="no-margin-bottom text-extra-dark-gray"><span class="ti-location-pin text-theme-color margin-10px-right"></span>Nepal</p>
                                        </div>
                                    </div>
                                    <div class="margin-40px-bottom">
                                        <h5>Information</h5>
                                        <p class="margin-30px-bottom">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their.</p>
                                        <div class="owl-carousel owl-theme tour">
                                            <div>
                                                <img src="img/content/tour-detail.jpg" class="border-radius-4" alt="" />
                                            </div>
                                            <div>
                                                <img src="img/content/tour-detail-1.jpg" class="border-radius-4" alt="" />
                                            </div>
                                            <div>
                                                <img src="img/content/tour-detail-2.jpg" class="border-radius-4" alt="" />
                                            </div>
                                        </div>
                                    </div>
                                    <div>
                                        <ul class="tour-inner">
                                            <li>
                                                <div class="row align-items-center">
                                                    <div class="col-md-6">
                                                        <h6 class="font-size17 no-margin-bottom">Departure</h6>
                                                    </div>
                                                    <div>
                                                        <p class="no-margin-bottom xs-padding-15px-left text-extra-dark-gray">Kathmandu International Airport</p>
                                                    </div>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="row align-items-center">
                                                    <div class="col-md-6">
                                                        <h6 class="font-size17 no-margin-bottom">Departure Time</h6>
                                                    </div>
                                                    <div>
                                                        <p class="no-margin-bottom xs-padding-15px-left text-extra-dark-gray">5.00AM</p>
                                                    </div>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="row align-items-center">
                                                    <div class="col-md-6">
                                                        <h6 class="font-size17 no-margin-bottom">Return Time</h6>
                                                    </div>
                                                    <div>
                                                        <p class="no-margin-bottom xs-padding-15px-left text-extra-dark-gray">Nearly 7.30PM</p>
                                                    </div>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="row align-items-center">
                                                    <div class="col-md-6">
                                                        <h6 class="font-size17 no-margin-bottom">Dress Code</h6>
                                                    </div>
                                                    <div>
                                                        <p class="no-margin-bottom xs-padding-15px-left text-extra-dark-gray">Casual, comfortable and light</p>
                                                    </div>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <h6 class="font-size17 no-margin-bottom">Price Includes</h6>
                                                    </div>
                                                    <div>
                                                        <p class="no-margin-bottom xs-padding-15px-left text-extra-dark-gray"><span class="ti-check text-info margin-5px-right"></span>Accommondatio</p>
                                                        <p class="no-margin-bottom xs-padding-15px-left text-extra-dark-gray"><span class="ti-check text-info margin-5px-right"></span>Porter & Personal Guide</p>
                                                        <p class="no-margin-bottom xs-padding-15px-left text-extra-dark-gray"><span class="ti-check text-info margin-5px-right"></span>Insurance</p>
                                                        <p class="no-margin-bottom xs-padding-15px-left text-extra-dark-gray"><span class="ti-check text-info margin-5px-right"></span>Breakfast</p>
                                                        <p class="no-margin-bottom xs-padding-15px-left text-extra-dark-gray"><span class="ti-check text-info margin-5px-right"></span>Tranportation / Car</p>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="border-bottom">
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <h6 class="font-size17 no-margin-bottom">Price Includes</h6>
                                                    </div>
                                                    <div>
                                                        <p class="no-margin-bottom xs-padding-15px-left text-extra-dark-gray"><span class="ti-close text-danger font-size12 margin-5px-right"></span>Flights</p>
                                                        <p class="no-margin-bottom xs-padding-15px-left text-extra-dark-gray"><span class="ti-close text-danger font-size12 margin-5px-right"></span>Lunch</p>
                                                        <p class="no-margin-bottom xs-padding-15px-left text-extra-dark-gray"><span class="ti-close text-danger font-size12 margin-5px-right"></span>Typical Souvenir</p>
                                                        <p class="no-margin-bottom xs-padding-15px-left text-extra-dark-gray"><span class="ti-close text-danger font-size12 margin-5px-right"></span>Sunscreen and personal items</p>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="margin-30px-top">
                                        <div id="map" class="map-height"></div>
                                    </div>
                                </div>
                            </div>
                            <!--  start post-->

                            <!--  start comment-->
                            <div class="comments-area">
                                <div class="title-g margin-30px-bottom">
                                    <h3>Comments</h3>
                                </div>
                                <div class="comment-box">
                                    <div class="author-thumb">
                                        <img src="img/blog/01.png" alt="" class="rounded-circle width-85 xs-width-100" />
                                    </div>
                                    <div class="comment-info">
                                        <h6><a href="javascript:void(0);">Alex Joyrina</a></h6>
                                        <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                                        <div class="reply">
                                            <a href="javascript:void(0);">
                                                <i class="fa fa-reply" aria-hidden="true"></i> Reply
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="comment-box">
                                    <div class="author-thumb">
                                        <img src="img/blog/02.png" alt="" class="rounded-circle width-85 xs-width-100" />
                                    </div>
                                    <div class="comment-info">
                                        <h6><a href="javascript:void(0);">Jama Karleny</a></h6>
                                        <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                                        <div class="reply">
                                            <a href="javascript:void(0);">
                                                <i class="fa fa-reply" aria-hidden="true"></i> Reply
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="comment-box">
                                    <div class="author-thumb">
                                        <img src="img/blog/03.png" alt="" class="rounded-circle width-85 xs-width-100" />
                                    </div>
                                    <div class="comment-info">
                                        <h6><a href="javascript:void(0);">Ivonne Drennen</a></h6>
                                        <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                                        <div class="reply">
                                            <a href="javascript:void(0);">
                                                <i class="fa fa-reply" aria-hidden="true"></i> Reply
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- end comment-->

                            <!--  start form-->
                            <div class="comment-form">
                                <div class="title-g margin-30px-bottom">
                                    <h3>Post a Comment</h3>
                                </div>
                                <form action="#!" id='comment-form' method='post'>
                                    <div class="controls">
                                        <div class="row">
                                            <div class="col-md-6 form-group">
                                                <input id="form_name" type="text" name="name" placeholder="Name" required="required">
                                            </div>
                                            <div class="col-md-6 form-group">
                                                <input id="form_email" type="email" name="email" placeholder="Email" required="required">
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12 form-group">
                                                <textarea id="form_message" name="message" placeholder="Message" rows="4" required="required"></textarea>
                                            </div>
                                            <div class="col-md-12">
                                                <button type="submit" class="butn"><span>Send Message</span></button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <!--  end form-->
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-12 padding-30px-left sm-padding-15px-left">
                        <div class="side-bar">
                            <div class="widget">
                                <div class="widget-title">
                                    <h3>Tour Details</h3>
                                </div>
                                <form action="#!" method="post">
                                    <div class="form-group">
                                        <label class="margin-5px-bottom">Start Day</label>
                                        <input type="text" class="form-control date no-margin-bottom padding-10px-tb" data-provide="datepicker" placeholder="Date">
                                    </div>
                                    <div class="form-group">
                                        <label class="margin-5px-bottom">Return Day</label>
                                        <input type="text" class="form-control padding-10px-tb" id="exampleFormControlInput1" placeholder="Location">
                                    </div>
                                    <div class="form-group">
                                        <label class="margin-5px-bottom">Where to</label>
                                        <select class="form-control padding-10px-tb" id="exampleFormControlSelect1">
                                            <option selected>Location</option>
                                            <option>Bangkok, Thailand</option>
                                            <option>London, UK</option>
                                            <option>Paris, France</option>
                                            <option>Dubai, UAE</option>
                                        </select>
                                    </div>
                                    <div class="form-group margin-30px-bottom">
                                        <label class="margin-5px-bottom">Guests</label>
                                        <select class="form-control padding-10px-tb" id="exampleFormControlSelect2">
                                            <option selected>1</option>
                                            <option>2</option>
                                            <option>3</option>
                                            <option>4</option>
                                            <option>5</option>
                                        </select>
                                    </div>
                                    <button class="butn btn-block" type="submit"><i class="fa fa-search"></i> Check</button>
                                </form>
                            </div>
                            <div class="widget">
                                <div class="widget-title">
                                    <h3>Destination</h3>
                                </div>
                                <div class="price-range"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- end tour details section -->

        <!-- start footer section -->
        <footer class="bg-img cover-background" data-background="img/content/footer-bg.jpg">
            <div class="footer-area padding-70px-tb md-padding-40px-tb xs-padding-30px-tb">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-5 col-sm-6 sm-margin-30px-bottom">
                            <img src="img/logos/logo.png" class="width-50" alt="" />
                            <div class="margin-30px-top">
                                <a href="#" class="margin-10px-right"><img src="img/content/pay-1.png" alt="" /></a>
                                <a href="#" class="margin-10px-right"><img src="img/content/pay-2.png" alt="" /></a>
                                <a href="#"><img src="img/content/pay-3.png" alt="" /></a>
                            </div>
                        </div>

                        <div class="col-lg-2 col-sm-6 sm-margin-30px-bottom">
                            <h3 class="footer-title-style1">Company</h3>
                            <ul class="list-style-1 no-margin-bottom">
                                <li><a href="#">Home</a></li>
                                <li><a href="#">About Us</a></li>
                                <li><a href="#">Dashboard</a></li>
                                <li><a href="#">Blog</a></li>
                                <li><a href="#">Contact Us</a></li>
                            </ul>
                        </div>
                        <div class="col-lg-2 col-sm-6 mobile-margin-30px-bottom">
                            <h3 class="footer-title-style1">Links</h3>
                            <ul class="list-style-1 no-margin-bottom">
                                <li><a href="#">Home</a></li>
                                <li><a href="#">About Us</a></li>
                                <li><a href="#">Dashboard</a></li>
                                <li><a href="#">Blog</a></li>
                                <li><a href="#">Contact Us</a></li>
                            </ul>
                        </div>
                        <div class="col-lg-3 col-sm-6">
                            <h3 class="footer-title-style1">Contact Us</h3>
                            <ul class="list-style-1 no-margin">
                                <li>
                                    <span class="d-inline-block vertical-align-top font-size18"><i class="ti-location-pin text-theme-color"></i></span>
                                    <span class="d-inline-block width-65 sm-width-85 vertical-align-top padding-10px-left">74 Guild Street 542B, Great North Town MT.</span>
                                </li>
                                <li>
                                    <span class="d-inline-block vertical-align-top font-size18"><i class="ti-mobile text-theme-color"></i></span>
                                    <span class="d-inline-block width-65 sm-width-85 vertical-align-top padding-10px-left">(+44) 123 456 789</span>
                                </li>
                                <li>
                                    <span class="d-inline-block vertical-align-top font-size18"><i class="ti-email text-theme-color"></i></span>
                                    <span class="d-inline-block width-65 sm-width-85 vertical-align-top padding-10px-left">example@yourname.com</span>
                                </li>
                            </ul>
                        </div>
                    </div>

                </div>
            </div>

            <div class="footer-bar xs-padding-15px-tb">
                <div class="container">
                    <div class="float-right xs-width-100 text-center xs-margin-5px-bottom">
                        <ul class="social-icon-style no-margin">
                            <li>
                                <a href="javascript:void(0)"><i class="fab fa-facebook-f"></i></a>
                            </li>
                            <li>
                                <a href="javascript:void(0)"><i class="fab fa-twitter"></i></a>
                            </li>
                            <li>
                                <a href="javascript:void(0)"><i class="fab fa-instagram"></i></a>
                            </li>
                            <li>
                                <a href="javascript:void(0)"><i class="fab fa-linkedin-in"></i></a>
                            </li>
                        </ul>
                    </div>
                    <div class="float-left xs-width-100 text-center">
                        <p class="font-weight-600 margin-5px-top xs-no-margin-top">&copy; 2020 Adventure is Powered by <a href="https://www.chitrakootweb.com/" target="_blank">Chitrakoot Web</a></p>
                    </div>
                </div>
            </div>
        </footer>
        <!-- end footer section -->

    </div>
    <!-- end main-wrapper section -->

    <!-- BUY TEMPLATE
    ================================================== -->
    <div class="buy-theme alt-font d-none d-lg-inline-block"><a href="https://wrapbootstrap.com/theme/adventure-tour-and-travel-agency-template-WB0P8931T" target="_blank"><i class="fas fa-cart-plus"></i><span>Buy Template</span></a></div>

    <div class="all-demo alt-font d-none d-lg-inline-block"><a href="https://www.chitrakootweb.com/contact.html" target="_blank"><i class="far fa-envelope"></i><span>Quick Question?</span></a></div>

    <!-- start scroll to top -->
    <a href="javascript:void(0)" class="scroll-to-top"><i class="fas fa-angle-up" aria-hidden="true"></i></a>
    <!-- end scroll to top -->

    <!-- Java script -->
    <script src="js/core.min.js"></script>

    <!-- serch -->
    <script src="search/search.js"></script>
        
    <!-- custom scripts -->
    <script src="js/main.js"></script>

</body>

</html>