<!DOCTYPE html>
<html lang="en">

<head>

    <!-- metas -->
    <meta charset="utf-8">
    <meta name="author" content="Chitrakoot Web" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="keywords" content="Finders Directory Listing Template" />
    <meta name="description" content="Finders - Directory Listing Template" />

    <!-- title  -->
    <title>Finders - Directory Listing Template</title>

    <!-- favicon -->
    <link rel="shortcut icon" href="img/logos/favicon.png" />
    <link rel="apple-touch-icon" href="img/logos/apple-touch-icon-57x57.png" />
    <link rel="apple-touch-icon" sizes="72x72" href="img/logos/apple-touch-icon-72x72.png" />
    <link rel="apple-touch-icon" sizes="114x114" href="img/logos/apple-touch-icon-114x114.png" />

    <!-- plugins -->
    <link rel="stylesheet" href="css/plugins.css" />

    <!-- search css -->
    <link rel="stylesheet" href="search/search.css" />

    <!-- core style css -->
    <link href="css/styles.css" rel="stylesheet" />

</head>

<body>

    <!-- start page loading -->
    <div id="preloader">
        <div class="row loader">
            <div class="loader-icon"></div>
        </div>
    </div>
    <!-- end page loading -->

    <!-- start main-wrapper section -->
    <div class="main-wrapper">

        <!-- start comingsoon section -->
        <section class="full-screen text-center no-padding">
            <div class="container d-flex flex-column">

                <div class="row align-items-center justify-content-center min-vh-100">

                    <div class="col-md-12 coming-soon margin-15px-tb">
                        <div class="row">
                            <div class="col-md-12 text-center">

                                <a href="index.html"><img src="img/logos/logo.png" class="margin-50px-bottom sm-margin-35px-bottom" alt="" /></a>

                                <h1 class="alt-font margin-50px-bottom sm-margin-35px-bottom font-weight-800">We're Launching Soon</h1>

                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <ul class="countdown text-center no-padding margin-50px-bottom sm-margin-35px-bottom">
                                    <!-- start days -->
                                    <li><span class="days">00</span>
                                        <p class="timeRefDays text-center">days</p>
                                    </li>
                                    <!-- end days -->
                                    <!-- start hours -->
                                    <li><span class="hours">00</span>
                                        <p class="timeRefHours">hours</p>
                                    </li>
                                    <!-- end hours -->
                                    <!-- start minutes -->
                                    <li><span class="minutes">00</span>
                                        <p class="timeRefMinutes">minutes</p>
                                    </li>
                                    <!-- end minutes -->
                                    <!-- start seconds -->
                                    <li><span class="seconds">00</span>
                                        <p class="timeRefSeconds">seconds</p>
                                    </li>
                                    <!-- end seconds -->
                                </ul>
                                <div class="padding-four-lr text-center margin-20px-bottom center-col">
                                    <p class="font-size16 sm-font-size15 xs-font-size14 text-extra-dark-gray width-95 center-col xs-width-100 xs-margin-15px-bottom">We'll be here soon with our new awesome site.</p>
                                    <a href="contact-us.html" class="butn">Send a Query</a>
                                </div>
                                <ul class="social-links text-center no-margin no-padding list-style-none">
                                    <li><a href="javascript:void(0);"><i class="fab fa-facebook-f"></i></a></li>
                                    <li><a href="javascript:void(0);"><i class="fab fa-twitter"></i></a></li>
                                    <li><a href="javascript:void(0);"><i class="fab fa-dribbble"></i></a></li>
                                    <li><a href="javascript:void(0);"><i class="fab fa-youtube"></i></a></li>
                                    <li><a href="javascript:void(0);"><i class="fab fa-linkedin-in"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </section>
        <!-- end comingsoon section -->

    </div>
    <!-- end main-wrapper section -->

    <!-- start scroll to top -->
    <a href="javascript:void(0)" class="scroll-to-top"><i class="fas fa-angle-up" aria-hidden="true"></i></a>
    <!-- end scroll to top -->

    <!-- all js include start -->

    <!-- Java script -->
    <script src="js/core.min.js"></script>

    <!-- serch -->
    <script src="search/search.js"></script>
        
    <!-- custom scripts -->
    <script src="js/main.js"></script>

    <!-- all js include end -->

</body>

</html>