<!DOCTYPE html>
<html lang="en">

<head>

    <!-- metas -->
    <meta charset="utf-8">
    <meta name="author" content="Chitrakoot Web" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="keywords" content="Finders Directory Listing Template" />
    <meta name="description" content="Finders - Directory Listing Template" />

    <!-- title  -->
    <title>Finders - Directory Listing Template</title>

    <!-- favicon -->
    <link rel="shortcut icon" href="img/logos/favicon.png" />
    <link rel="apple-touch-icon" href="img/logos/apple-touch-icon-57x57.png" />
    <link rel="apple-touch-icon" sizes="72x72" href="img/logos/apple-touch-icon-72x72.png" />
    <link rel="apple-touch-icon" sizes="114x114" href="img/logos/apple-touch-icon-114x114.png" />

    <!-- plugins -->
    <link rel="stylesheet" href="css/plugins.css" />

    <!-- search css -->
    <link rel="stylesheet" href="search/search.css" />

    <!-- core style css -->
    <link href="css/styles.css" rel="stylesheet" />

</head>

<body>

    <!-- start page loading -->
    <div id="preloader">
        <div class="row loader">
            <div class="loader-icon"></div>
        </div>
    </div>
    <!-- end page loading -->

    <!-- start main-wrapper section -->
    <div class="main-wrapper">

        <!-- start header section -->
        <header>
            <div class="navbar-default">
                <!-- start top search -->
                <div class="top-search bg-theme">
                    <div class="container">
                        <form class="search-form" action="search.html" method="GET" accept-charset="utf-8">
                            <div class="input-group">
                                <span class="input-group-addon cursor-pointer">
                                    <button class="search-form_submit fas fa-search font-size18 text-white" type="submit"></button>
                                </span>
                                <input type="text" class="search-form_input form-control" name="s" autocomplete="off" placeholder="Type & hit enter...">
                                <span class="input-group-addon close-search"><i class="fas fa-times font-size18 margin-5px-top"></i></span>
                            </div>
                        </form>
                    </div>
                </div>
                <!-- end top search -->

                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-md-12">
                            <div class="menu_area">
                                <nav class="navbar navbar-expand-lg navbar-light no-padding">

                                    <div class="navbar-header navbar-header-custom">
                                        <!-- start logo -->
                                        <a href="index.html" class="navbar-brand width-200px sm-width-180px xs-width-150px"><img id="logo" src="img/logos/logo.png" alt="logo"></a>
                                        <!-- end logo -->
                                    </div>

                                    <div class="navbar-toggler"></div>

                                    <!-- start menu area -->
                                    <ul class="navbar-nav ml-auto" id="nav" style="display: none;">
                                        <li><a href="index.html">Home</a></li>
                                        <li><a href="javascript:void(0)">Pages</a>
                                            <ul>
                                                <li><a href="how-it-works.html">How It Works</a></li>
                                                <li><a href="elements.html">Elements</a></li>
                                                <li><a href="pricing.html">Pricing</a></li>
                                                <li><a href="login.html">Login</a></li>
                                                <li><a href="registration.html">Register</a></li>
                                                <li><a href="404-page.html">404 Page</a></li>
                                                <li><a href="coming-soon.html">Coming Soon</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="javascript:void(0)">User Panel</a>
                                            <ul>
                                                <li><a href="admin/index.html">Dashboard</a></li>
                                                <li><a href="admin/message.html">Message</a></li>
                                                <li><a href="admin/booking.html">Booking</a></li>
                                                <li><a href="admin/wallet.html">Wallet</a></li>
                                                <li><a href="admin/my-listing.html">My Listing</a></li>
                                                <li><a href="admin/reviews.html">Reviews</a></li>
                                                <li><a href="admin/bookmark.html">Bookmarks</a></li>
                                                <li><a href="admin/add-listing.html">Add Listing</a></li>
                                                <li><a href="admin/my-profile.html">My Profile</a></li>
                                            </ul>
                                        </li>
                                        <li class="has-sub"><span class="submenu-button"></span><span class="submenu-button"></span><a href="#">Listing</a>
                                            <ul class="row megamenu change-menu sub-menu">
                                                <li class="col-lg-3 col-sm-12 has-sub"><span class="submenu-button"></span><span class="submenu-button"></span>
                                                    <span class="margin-10px-bottom display-block sm-no-margin sm-padding-10px-tb sm-padding-30px-lr font-size14 sub-title font-weight-600"><i class="fas fa-address-book margin-10px-right text-theme-color"></i>Listing Without Map</span>
                                                    <ul class="sub-menu">
                                                        <li><a href="listing-grid-right-sidebar.html">Grid Right Sidebar</a></li>
                                                        <li><a href="listing-grid-full-width.html">Grid Fullwidth</a></li>
                                                        <li><a href="listing-list-right-sidebar.html">List Right Sidebar</a></li>
                                                        <li><a href="listing-list-full-width.html">List Fullwidth</a></li>
                                                    </ul>
                                                </li>
                                                <li class="col-lg-3 col-sm-12 has-sub"><span class="submenu-button"></span><span class="submenu-button"></span>
                                                    <span class="margin-10px-bottom display-block sm-no-margin sm-padding-10px-tb sm-padding-30px-lr font-size14 sub-title font-weight-600"><i class="fas fa-map margin-10px-right text-theme-color"></i>Half Screen Map</span>
                                                    <ul class="sub-menu">
                                                        <li><a href="listing-half-screen-map-list.html">List Layout</a></li>
                                                        <li><a href="listing-half-screen-map-grid.html">Grid Layout</a></li>
                                                    </ul>
                                                    <span class="margin-10px-bottom margin-30px-top display-block sm-no-margin sm-padding-10px-tb sm-padding-30px-lr font-size14 text-uppercase sub-title font-weight-600"><i class="fas fa-file-alt margin-10px-right text-theme-color"></i>Single Listing</span>
                                                    <ul class="sub-menu">
                                                        <li><a href="listing-details.html">Listing Details</a></li>
                                                    </ul>
                                                </li>
                                                <li class="col-lg-3 col-sm-12 has-sub"><span class="submenu-button"></span><span class="submenu-button"></span>
                                                    <span class="margin-10px-bottom display-block sm-no-margin sm-padding-10px-tb sm-padding-30px-lr font-size14 sub-title font-weight-600"><i class="fas fa-th-large margin-10px-right text-theme-color"></i>Listing Grid</span>
                                                    <ul class="sub-menu">
                                                        <li><a href="listing-grid-left-sidebar-map.html">Left Sidebar</a></li>
                                                        <li><a href="listing-grid-right-sidebar-map.html">Right Sidebar</a></li>
                                                        <li><a href="listing-grid-full-width-map.html">Fullwidth</a></li>
                                                    </ul>
                                                </li>
                                                <li class="col-lg-3 col-sm-12 has-sub"><span class="submenu-button"></span><span class="submenu-button"></span>
                                                    <span class="margin-10px-bottom display-block sm-no-margin sm-padding-10px-tb sm-padding-30px-lr font-size14 sub-title font-weight-600"><i class="fas fa-bars margin-10px-right text-theme-color"></i>Listing List</span>
                                                    <ul class="sub-menu">
                                                        <li><a href="listing-list-left-sidebar-map.html">Left Sidebar</a></li>
                                                        <li><a href="listing-list-right-sidebar-map.html">Right Sidebar</a></li>
                                                        <li><a href="listing-list-full-width-map.html">Fullwidth</a></li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </li>
                                        <li><a href="javascript:void(0)">Blog</a>
                                            <ul>
                                                <li><a href="blog-grid.html">Blog Grid</a></li>
                                                <li><a href="blog-details.html">Blog Details</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="contact-us.html">Contact</a></li>
                                    </ul>
                                    <!-- end menu area -->

                                    <!-- start attribute navigation -->
                                    <div class="attr-nav sm-no-margin sm-margin-65px-right xs-margin-55px-right ml-auto">
                                        <ul class="search">
                                            <li class="search"><a href="javascript:void(0)"><i class="fas fa-search text-theme-color font-size18 margin-15px-top sm-no-margin-top"></i></a></li>
                                        </ul>
                                        <ul class="top-nav-area">
                                            <li class="dropdown sm-no-margin-right">
                                                <a href="add-listing.html" class="butn listi md-padding-15px-lr sm-no-padding">
                                                    <i class="fas fa-plus-circle font-size22 margin-5px-right sm-no-margin-right vertical-align-middle"></i> <span class="vertical-align-middle sm-display-none">Add Listing</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                    <!-- end attribute navigation -->

                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- end header section -->

        <!-- start page title section -->
        <section class="page-title-section bg-img cover-background" data-overlay-dark="7" data-background="img/banner/bg1.jpg">
            <div class="container">
                <h1>How It Works</h1>
                <ul class="text-center">
                    <li>
                        <a href="index.html">Home</a>
                    </li>
                    <li>
                        <span class="active">How It Works</span>
                    </li>
                </ul>
            </div>
        </section>
        <!-- end page title section -->

        <!-- start how it works section -->
        <section>
            <div class="container">
                <div class="row align-items-center margin-80px-bottom xs-margin-40px-bottom">
                    <div class="col-md-5 xs-margin-20px-bottom">
                        <div>
                            <img class="border-radius-4" src="img/content/process-1.jpg" alt="Image">
                        </div>
                    </div>
                    <div class="col-md-7">
                        <div class="padding-40px-left sm-no-padding-left">
                            <span class="font-size16 text-dark-gray">Step 1</span>
                            <h4 class="font-size38 sm-font-size34 xs-font-size32 sm-margin-15px-bottom margin-20px-top sm-margin-5px-top">Add your listing</h4>
                            <p class="margin-30px-bottom sm-margin-20px-bottom">
                                It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution.
                            </p>
                            <div><a href="#!" class="arrow"><span><i class="fas fa-arrow-right"></i></span></a></div>
                        </div>
                    </div>
                </div>
                <div class="row align-items-center margin-80px-bottom xs-margin-40px-bottom">
                    <div class="col-md-7 order-2 order-md-1 order-lg-1">
                        <div class="padding-40px-right sm-no-padding-right">
                            <span class="font-size16 text-dark-gray">Step 2</span>
                            <h4 class="font-size38 sm-font-size34 xs-font-size32 sm-margin-15px-bottom margin-20px-top sm-margin-5px-top">Help clients find you</h4>
                            <p class="margin-30px-bottom sm-margin-20px-bottom">
                                There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage.
                            </p>
                            <div><a href="#!" class="arrow"><span><i class="fas fa-arrow-right"></i></span></a></div>
                        </div>
                    </div>
                    <div class="col-md-5 order-1 order-md-2 order-lg-2 xs-margin-20px-bottom">
                        <div>
                            <div class="text-right xs-text-center"><img class="border-radius-4" src="img/content/process-2.jpg" alt="Image"></div>
                        </div>
                    </div>
                </div>
                <div class="row align-items-center">
                    <div class="col-md-5 xs-margin-20px-bottom">
                        <div>
                            <img class="border-radius-4" src="img/content/process-3.jpg" alt="Image">
                        </div>
                    </div>
                    <div class="col-md-7">
                        <div class="padding-40px-left sm-no-padding-left">
                            <span class="font-size16 text-dark-gray">Step 3</span>
                            <h4 class="font-size38 sm-font-size34 xs-font-size32 sm-margin-15px-bottom margin-20px-top sm-margin-5px-top">Contact a Few Owners</h4>
                            <p class="margin-30px-bottom sm-margin-20px-bottom">
                                Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy.
                            </p>
                            <div><a href="#!" class="arrow"><span><i class="fas fa-arrow-right"></i></span></a></div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- end how it works section -->

        <!-- start footer section -->
        <footer>
            <div class="footer-area padding-90px-tb md-padding-70px-tb sm-padding-50px-tb">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-4 col-sm-6 sm-margin-30px-bottom">
                            <img src="img/logos/logo.png" class="width-50 margin-30px-bottom xs-margin-20px-bottom" alt="" />
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas in pulvinar neque. Nulla finibus lobortis pulvinar. Donec a consectetur nulla. Nulla posuere.</p>
                        </div>

                        <div class="col-lg-3 col-sm-6 sm-margin-30px-bottom">
                            <h3 class="footer-title-style1">Contact Us</h3>
                            <ul class="list-style-1 no-margin">
                                <li>
                                    <span class="d-inline-block vertical-align-top font-size18"><i class="ti-location-pin text-theme-color"></i></span>
                                    <span class="d-inline-block width-65 sm-width-85 vertical-align-top padding-10px-left">74 Guild Street 542B, Great North Town MT.</span>
                                </li>
                                <li>
                                    <span class="d-inline-block vertical-align-top font-size18"><i class="ti-mobile text-theme-color"></i></span>
                                    <span class="d-inline-block width-65 sm-width-85 vertical-align-top padding-10px-left">4355 6567 789</span>
                                </li>
                                <li>
                                    <span class="d-inline-block vertical-align-top font-size18"><i class="ti-email text-theme-color"></i></span>
                                    <span class="d-inline-block width-65 sm-width-85 vertical-align-top padding-10px-left">example@yourname.com</span>
                                </li>
                            </ul>
                        </div>

                        <div class="col-lg-2 col-sm-6 mobile-margin-30px-bottom">
                            <h3 class="footer-title-style1">Useful Links</h3>
                            <ul class="list-style-1 no-margin-bottom">
                                <li><a href="index.html">Home</a></li>
                                <li><a href="#">About Us</a></li>
                                <li><a href="admin/index.html">Dashboard</a></li>
                                <li><a href="blog-grid.html">Blog</a></li>
                                <li><a href="contact-us.html">Contact Us</a></li>
                            </ul>
                        </div>
                        <div class="col-lg-3 col-sm-6">
                            <h3 class="footer-title-style1">Subscribe</h3>
                            <p class="margin-20px-bottom">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit.</p>
                            <div class="email-box  wow fadeInUp" data-wow-delay=".3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInUp;">
                                <div class="input">
                                    <input type="email" placeholder="Enter your email">
                                    <a href="javascript:void(0)" class="butn"><span><i class="far fa-paper-plane"></i></span></a>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <div class="footer-bar xs-padding-15px-tb">
                <div class="container">
                    <div class="float-right xs-width-100 text-center xs-margin-5px-bottom">
                        <ul class="social-icon-style no-margin">
                            <li>
                                <a href="javascript:void(0)"><i class="fab fa-facebook-f"></i></a>
                            </li>
                            <li>
                                <a href="javascript:void(0)"><i class="fab fa-twitter"></i></a>
                            </li>
                            <li>
                                <a href="javascript:void(0)"><i class="fab fa-instagram"></i></a>
                            </li>
                            <li>
                                <a href="javascript:void(0)"><i class="fab fa-linkedin-in"></i></a>
                            </li>
                        </ul>
                    </div>
                    <div class="float-left xs-width-100 text-center">
                        <p class="text-medium-gray font-weight-600 margin-5px-top xs-no-margin-top">&copy; 2020 Finder is Powered by Chitrakoot Web</p>
                    </div>
                </div>
            </div>
        </footer>
        <!-- end footer section -->

    </div>
    <!-- end main-wrapper section -->

    <!-- start scroll to top -->
    <a href="javascript:void(0)" class="scroll-to-top"><i class="fas fa-angle-up" aria-hidden="true"></i></a>
    <!-- end scroll to top -->

    <!-- all js include start -->

    <!-- Java script -->
    <script src="js/core.min.js"></script>

    <!-- serch -->
    <script src="search/search.js"></script>
        
    <!-- custom scripts -->
    <script src="js/main.js"></script>

    <!-- all js include end -->

</body>

</html>